.jd-theme--day {

  &.jd-portfolio,
  &.jd-about,
  &.jd-contact {

    .jd-media__revealer,
    .jd-wrapper,
    .jd-client__line-x,
    .jd-client__line-y {
      background-color: $theme--day__portfolio;
    }

    .jd-data-list__item {
      border-color: $theme--day__portfolio;
    }
  }

  .jd-heading--page {
    color: $grayscale--white;
  }

  .jd-block--color-1 {

    &:before {
      background-color: $grayscale--white;
    }

    .jd-contact__heading {
      color: black;
    }
  }

  .jd-block--color-2 {
    background-color: #2E2C34;
  }
}
