.jd-theme--night {

  .jd-wrapper {
    background-color: rgba(20, 20, 20, 1);
    color: rgba(white, 1);
  }

  h1, h2, h3,
  .jd-heading--page
  .jd-heading--high-level,
  .jd-heading--section {
    color: white;
  }

  p,
  .jd-paragraph {
    color: rgba(white, .7);
  }

  .jd-media {

    &__revealer {
      background-color: rgba(20, 20, 20, 1);
    }
  }

  .jd-menu {

    &__item:after {
      background-color: white;
    }
  }

  .jd-block--color-1 {

    &:before {
      background-color: white;
    }

    h2, h3,
    .jd-heading--high-level,,
    .jd-heading--section {
      color: #141414;
    }

    .jd-section__title-line {
      background-color: #141414;
    }

    .jd-contact__heading {
      color: #141414;
    }

    p,
    .jd-paragraph,
    .jd-data-list {
      color: rgba(black, .7);
    }

    .jd-data-list__item {
      border-width: 1px !important;
      border-color: #eee;
    }

    .jd-client {

      &__line-x,
      &__line-y {
        background-color: #e2e2e2;
      }

      &__line-x {
        height: 1px !important;
      }

      &__line-y {
        width: 1px !important;
      }

      &__logo {
        color: black;
      }
    }
  }

  .jd-footer__link {

    &--legal-notice:after,
    &--privacy:after {
      display: none;
    }
  }

  .jd-meta {
    background-color: rgba(20, 20, 20, 1);
  }

  // .jd-container {
  //   margin: 0;
  // }

  .jd-project__link {

    &:after {
      background-color: white;
    }

    &--web {
      background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' width='16' height='16' xmlns='http://www.w3.org/2000/svg'><g fill='white'><path d='M9,7H1C0.4,7,0,7.4,0,8v0c0,0.6,0.4,1,1,1h8v5l7-6L9,2V7z'></path></g></svg>");
    }

    &--video {
      background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' width='16' height='16' xmlns='http://www.w3.org/2000/svg'><g fill='white'><path d='M15,1H1C0.4,1,0,1.4,0,2v12c0,0.6,0.4,1,1,1h14c0.6,0,1-0.4,1-1V2C16,1.4,15.6,1,15,1z M14,13H2V3h12V13z'></path><polygon points='6,5 6,11 10,8'></polygon></g></svg>");
    }
  }
}
