.jd-theme--light {

  // h1,
  // .jd-heading--page {
  //   color: $theme--light__back;
  // }

  .jd-block--color-1 {

    &:before {
      background-color: $theme--light__back;
    }

    h1, h3,
    .jd-heading--page,
    .jd-heading--section {
      color: $theme--light__front;
    }

    .jd-section__title-line {
      background-color: $theme--light__front;
    }

    .jd-contact__heading {
      color: black;
    }
  }

  .jd-block--color-2 {
    background-color: #2E2C34;

    .--color-1 {
      //color: #FDC8B3 !important;
    }

    .--color-2 {
      color: #FDE9B3 !important;
    }

    .--color-3 {
      color: #F4F7BA !important;
    }

    h1, h2, h3,
    .jd-heading--page,
    .jd-heading--high-level,
    .jd-heading--section,
    .jd-paragraph,
    .jd-data-list__item {
      color: $theme--light__front;
    }

    // h2,
    // .jd-heading--high-level {
    //   color: #FDC8B3;
    // }

    .jd-data-list__item {
      border-color: $theme--light__front;
    }

    .jd-section__title-line {
      background-color: $theme--light__front;
    }

    .jd-contact__heading {
      color: black;
    }
  }
}
