.jd-theme--night {

  .jd-cookie-banner {
    background-color: white;

    .jd-paragraph {
      color: #141517;
    }

    .jd-button {
      background-color: #141517;
      color: white;

      &:hover {
        background-color: $grayscale--darker;
      }
    }
  }

  .jd-browser-fallback {
    background-color: #141517;
  }

  .jd-browser {

    &:hover {
      background-color: black;

      .jd-browser__button {
        border-color: white;
      }
    }

    &__button {
      border-color: black;
    }
  }

  .jd-wrapper {
    background-color: #141517;
    color: rgba(white, 1);
  }

  h1, h2, h3,
  .jd-heading--page
  .jd-heading--high-level,
  .jd-heading--section {
    color: white;
  }

  p,
  .jd-paragraph {
    color: rgba(white, .7);
  }

  .jd-media {

    &__revealer {
      background-color: #141517;
    }
  }

  .jd-menu {

    &__item:after {
      background-color: white;
    }
  }

  .jd-block--color-1 {

    &:before {
      background-color: #0F0F0F;
    }

    h2, h3,
    .jd-heading--high-level,
    .jd-heading--section {
      color: white;
    }

    .jd-section__title-line {
      background-color: white;
    }

    .jd-contact__heading {
      color: white;
    }

    p,
    .jd-paragraph,
    .jd-data-list {
      color: rgba(white, .7);
    }

    .jd-data-list__item {
      border-width: 1px !important;
      border-color: rgba(white, .1);
    }
  }

  .jd-client {

    &__line-x,
    &__line-y {
      background-color: rgba(white, .1);
    }

    &__line-x {
      height: 1px !important;
    }

    &__line-y {
      width: 1px !important;
    }

    &__logo {
      color: white;

      &--day {
        display: none;
      }

      &--night {
        display: block;
      }
    }

    &__logo--day {
      display: none;
    }

    &__logo--night {
      display: block;
    }
  }

  .jd-press {

    &__logo {
      color: white;

      &--day {
        display: none;
      }

      &--night {
        display: block;
      }
    }
  }

  .jd-joda {
    background-color: #0F0F0F;

    &__heading {
      color: white;
    }

    p,
    .jd-paragraph {
      color: rgba(white, .7);
    }
  }

  .jd-footer__link {

    &--legal-notice:after,
    &--privacy:after {
      background-color: #0F0F0F;
    }
  }

  .jd-meta,
  .jd-meta:before {
    background-color: #0F0F0F;
  }

  .jd-project__link {

    &:after {
      background-color: white;
    }

    &--web {
      background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' width='16' height='16' xmlns='http://www.w3.org/2000/svg'><g fill='white'><path d='M9,7H1C0.4,7,0,7.4,0,8v0c0,0.6,0.4,1,1,1h8v5l7-6L9,2V7z'></path></g></svg>");
    }

    &--video {
      background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' width='16' height='16' xmlns='http://www.w3.org/2000/svg'><g fill='white'><path d='M15,1H1C0.4,1,0,1.4,0,2v12c0,0.6,0.4,1,1,1h14c0.6,0,1-0.4,1-1V2C16,1.4,15.6,1,15,1z M14,13H2V3h12V13z'></path><polygon points='6,5 6,11 10,8'></polygon></g></svg>");
    }
  }
}
