.jd-theme--white {

  body {
    background: linear-gradient(to left top, rgba(black, 1) 0%/*bottom-right color*/, rgba(black, .9) 50% /*middle color*/, rgba(black, .8) 100% /*top-left color*/) no-repeat;
    background-size: cover;
        //linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1))/*"faked" black background make sure to add last or it will appear before the transparent/colored layer*/;
    color: rgba(white, 1);
  }

  h1, h2, h3,
  .jd-heading--page
  .jd-heading--high-level,
  .jd-heading--section {
    color: white;
  }

  // h1,
  // .jd-heading--page {
  //   font-family: "freight-big-pro", sans-serif;
  //   font-weight: 100;
  //   letter-spacing: normal !important;
  // }

  p,
  .jd-paragraph {
    color: rgba(white, .7);
  }

  .jd-block--color-1 {

    &:before {
      background-color: white;
    }

    h2, h3,
    .jd-heading--high-level,,
    .jd-heading--section {
      color: #141414;
    }

    .jd-section__title-line {
      background-color: #141414;
    }

    .jd-contact__heading {
      color: #141414;
    }

    p,
    .jd-paragraph,
    .jd-data-list {
      color: rgba(black, .7);
    }

    .jd-data-list__item {
      border-width: 1px !important;
      border-color: #eee;
    }

    .jd-client {

      &__line-x,
      &__line-y {
        background-color: #e2e2e2;
      }

      &__line-x {
        height: 1px !important;
      }

      &__line-y {
        width: 1px !important;
      }

      &__logo {
        color: black;
      }
    }

    .jd-meta {
      background-color: white !important;
    }
  }

  // .jd-container {
  //   margin: 0;
  // }
}
