extends ../default.pug

block content
  header.jd-block.jd-block--intro
    h1.jd-heading.jd-heading--page Verbindung
      br
      | herstellen
  .jd-block.jd-block--solid.jd-block--color-1
    section.jd-section.jd-contact#email
      h3.jd-heading.jd-heading--section.jd-section__title.jd-section__title--followed-by-heading
        span.jd-section__title-index
          span.jd-section__title-number 01
          span.jd-section__title-line
        span.jd-section__title-text E-Mail
      h3.jd-heading.jd-heading--section.jd-heading--standalone.jd-contact__heading
        a(href="mailto:ping@beyergoerges.com") ping@beyergoerges.com
    section.jd-section.jd-contact#phone
      h3.jd-heading.jd-heading--section.jd-section__title.jd-section__title--followed-by-heading
        span.jd-section__title-index
          span.jd-section__title-number 02
          span.jd-section__title-line
        span.jd-section__title-text Telefon
      h3.jd-heading.jd-heading--section.jd-heading--standalone.jd-contact__heading
        a(href="tel:+4923158694870") +49 (0)231 586 948 70
