doctype html
html(lang="de" dir="ltr")
  head
    // Global site tag (gtag.js) - Google Analytics
    script(async="" src="https://www.googletagmanager.com/gtag/js?id=UA-126828707-1")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-126828707-1');
    meta(charset="utf-8")
    title Beyer Görges – Frohe Weihnachten!
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0")
    link(rel="icon" href="../favicon.ico?v=1.1")
    link(rel="stylesheet" href="../vendor.min.css")
    link(rel="stylesheet" href="../main.min.css")
    
  body(class="jd-theme--xmas2020")
  
    .teletext-page.teletext-page--intro.--is-active
      header.teletext-header
        .teletext-header__logo Beyer Görges
        .teletext-header__page 2020
      .teletext-content.teletext-content--intro
        .teletext-hero
          img.teletext-hero__image.teletext-hero__image--intro(src="../images/xmas/videotext_logo.png")
        .teletext-spinner 
          span.teletext-spinner__text Lade..................................................
          .teletext-cta.teletext-spinner__start
            .teletext-cta__button.js-startLink Starten
      footer.teletext-footer
  
    .teletext-page.teletext-page--start
      header.teletext-header
        .teletext-header__logo.js-startLink Beyer Görges
        .teletext-header__page 100
      .teletext-content.teletext-content--start
        .teletext-hero
          img.teletext-hero__image.teletext-hero__image--start(src="../images/xmas/merry_xmas.gif")
        ul.teletext-list
          li.teletext-list__item.js-cookiesLink
            .teletext-list__label 
              span.teletext-list__label-text Dein Glücks-Cookie für 2021
              span.teletext-list__label-dots ..................................................
            .teletext-list__page 101
          li.teletext-list__item.js-quotesLink
            .teletext-list__label
              span.teletext-list__label-text Die besten Fußballer-Zitate
              span.teletext-list__label-dots ..................................................
            .teletext-list__page 200
          li.teletext-list__item.js-videotextLink
            .teletext-list__label
              span.teletext-list__label-text Warum Videotext?
              span.teletext-list__label-dots ..................................................
            .teletext-list__page 400
      footer.teletext-footer
      
    .teletext-page.teletext-page--cookies
      header.teletext-header
        .teletext-header__logo.js-startLink Beyer Görges
        .teletext-header__page 101
      .teletext-title Dein Glücks-Cookie für 2021
      .teletext-content.teletext-content--cookies
        .teletext-hero
          img.teletext-hero__image.teletext-hero__image--cookies(src="../images/xmas/teletext_cookie.gif")
        .teletext-block
          .teletext-copy Lieber {Name},
            .teletext-cookie fordere viel von dir selbst und erwarte wenig von anderen. So wird dir viel Ärger erspart bleiben.
          .teletext-cta
            .teletext-cta__label Gefällt Dir nicht?
            .teletext-cta__button.js-reloadCookies Neu laden
      footer.teletext-footer
        .teletext-footer__back.js-startLink
          span Start 
          span.teletext-cyan <<
        .teletext-footer__fwd.js-quotesLink
          span.teletext-cyan >> 
          span Zitate
          
    .teletext-page.teletext-page--quotes
      header.teletext-header
        .teletext-header__logo.js-startLink Beyer Görges
        .teletext-header__page 200
      .teletext-title Die besten Fußballer-Zitate
      .teletext-content.teletext-content--quotes
        .teletext-hero
          img.teletext-hero__image.teletext-hero__image--quotes(src="../images/xmas/teletext_soccer.gif")
        .teletext-block
          .teletext-copy.teletext-quote „Mein Problem ist, dass ich immer sehr selbstkritisch bin, auch mir selbst gegenüber.“ — Andi Möller
          .teletext-cta
            .teletext-cta__button.js-reloadQuotes Neues Zitat
      footer.teletext-footer
        .teletext-footer__back.js-cookiesLink
          span Cookies 
          span.teletext-cyan <<
        .teletext-footer__fwd.js-videotextLink
          span.teletext-cyan >> 
          span Videotext
          
    .teletext-page.teletext-page--videotext
      header.teletext-header
        .teletext-header__logo.js-startLink Beyer Görges
        .teletext-header__page 400
      .teletext-title Warum Videotext?
      .teletext-content.teletext-content--videotext
        .teletext-hero
          img.teletext-hero__image.teletext-hero__image--videotext(src="../images/xmas/teletext_cake.jpg")
        .teletext-block Im Jahr 2020 wurde der Videotext 40 Jahre alt! Ein Medium, das uns fasziniert – ist es doch ein voll digitales Informationsmedium und damit ein erster Schritt Richtung Internet mit Inhalten, die man auf verschiedenen Seiten abrufen kann.
          br
          | Diese Weihnachtskarte ist eine kleine Hommage und wir wünschen einen herzlichen Glückwunsch, lieber Videotext!
          br
          | Übrigens, den Videotext gibt es auch im Internet: 
          a.teletext-link(href="https://www.ard-text.de/", target="_blank") https://www.ard-text.de/
      footer.teletext-footer
        .teletext-footer__back.js-quotesLink
          span Zitate 
          span.teletext-cyan <<
        .teletext-footer__fwd.js-startLink
          span.teletext-cyan >> 
          span Start
          
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    script(src="../xmas.js")
