.jd-block {
  display: grid;

  &--intro {
    gap: spacing(1);
    grid-template-columns: spacing(2) 1fr spacing(2);
    margin-bottom: spacing(1);
    padding-top: spacing(16);
    padding-bottom: spacing(3);

    .jd-heading--page {
      grid-column: 2;

      @include break(desktop-m) {
        max-width: 61.8vw;
      }
    }
  }

  &--hollow {
    grid-row-gap: spacing(1);
  }

  &--solid {
    grid-column-gap: spacing(1);
    position: relative;
    margin-bottom: spacing(1);
    padding-top: spacing(8);
    overflow: hidden;

    &:before {
      content: "";
      z-index: -1;
      animation: block-solid .4s $ease-in-cubic forwards .4s;
      transform: translateX(-101%);

      @include break(tablet) {
        animation-duration: .7s;
      }

      @include break(desktop-s) {
        animation-duration: 1s;
      }

      @include fill;
    }
  }
}

@keyframes block-solid {
  0% {
    transform: translateX(-101%);
  } 100% {
    transform: translateX(0);
  }
}
