.jd-block {
  display: grid;
  position: relative;

  &--intro {
    gap: spacing(1);
    grid-template-columns: spacing(2) 1fr spacing(2);
    margin-bottom: spacing(1);
    padding-top: spacing(12);
    padding-bottom: spacing(3);

    @include break(desktop-s) {
      grid-template-columns: spacing(2) 1fr 1fr spacing(2);
      align-items: flex-end;
    }

    .jd-heading--page,
    .jd-heading--section {
      grid-column: 2;
      opacity: 0;

      @include break(desktop-s) {
        max-width: 54vw;
      }
    }

    .jd-heading--section {
      padding-top: spacing(1);

      @include break(desktop-s) {
        grid-column: 3;
        padding-bottom: .36vw;
      }
    }
  }

  &--outro {
    gap: spacing(1);
    grid-template-columns: spacing(2) 1fr spacing(2);
    margin-bottom: spacing(1);
    padding-top: spacing(8);
    //padding-bottom: spacing(3);

    .jd-heading--page {
      display: flex;
      align-items: center;
      grid-column: 2;
    }

    .jd-heading__text,
    .jd-arrow,
    .jd-arrow:before,
    .jd-arrow:after {
      @include transition($duration-faster);
    }

    .jd-heading--page:hover .jd-heading__text {
      color: rgba(black, .2);
      -webkit-text-stroke: 1px transparent;
    }

    .jd-heading--page:hover .jd-arrow,
    .jd-heading--page:hover .jd-arrow:before,
    .jd-heading--page:hover .jd-arrow:after {
      background-color: rgba(black, .2);
    }

    .jd-arrow {
      flex: 1;
      position: relative;
      height: 2px;
      margin-left: spacing(2);
      background-color: $grayscale--darkest;
    }

    .jd-arrow:before,
    .jd-arrow:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: spacing(2);
      height: 2px;
      background-color: $grayscale--darkest;
    }

    .jd-arrow:before {
      transform: rotate(45deg);
      transform-origin: 100% 100%;
    }

    .jd-arrow:after {
      transform: rotate(-45deg);
      transform-origin: 100% 0%;
    }
  }

  &--hollow {
    grid-row-gap: spacing(1);
  }

  &--solid {
    grid-column-gap: spacing(1);
    position: relative;
    margin-bottom: spacing(1);
    padding-top: spacing(8);
    overflow: hidden;

    &:before {
      content: "";
      z-index: -1;
      animation: block-solid .4s $ease-in-cubic forwards .4s;
      transform: translateX(-101%);

      @include break(tablet) {
        animation-duration: .7s;
      }

      @include break(desktop-s) {
        animation-duration: 1s;
      }

      @include fill;
    }
  }

  &--no-spacing {
    margin-bottom: 0;
    padding-top: 0;
  }
}

@keyframes block-solid {
  0% {
    transform: translateX(-101%);
  } 100% {
    transform: translateX(0);
  }
}
