.jd-container {
  position: relative;
  z-index: 1;

  @include break(tablet, max) {
    @include transition($duration-slower, $property: transform, $easing: $ease-in-out-cubic);

    &.--is-pushed {
      transform: translateY(100vh);
    }
  }

  @include break(tablet) {
    // margin-right: spacing(1);
    // margin-left: spacing(1);
  }
}
