.jd-header {
  display: grid;
  gap: spacing(1);
  grid-template-columns: spacing(2) 1fr 1fr spacing(2);
  align-items: center;
  margin-right: spacing(1);
  margin-left: spacing(1);
  padding-top: spacing(2);
  padding-bottom: spacing(1);
}
