section.jd-browser-fallback
  .jd-browser-fallback__notice.jd-browser-fallback__notice--top Zeit für einen neuen Browser! Diese Website unterstützt alle modernen und sicheren Browser.
  .jd-browsers
    a.jd-browser(href="https://www.google.com/chrome/" target="_blank")
      svg.jd-browser__logo
        use(href="#logo-chrome" xlink:href="#logo-chrome")
      .jd-browser__name Google Chrome
      .jd-browser__button(href="https://www.google.com/chrome/") Download
      .jd-browser__os Verfügbar für Windows & macOS
    a.jd-browser(href="http://www.mozilla.org/de/firefox/new/" target="_blank")
      svg.jd-browser__logo
        use(href="#logo-firefox" xlink:href="#logo-firefox")
      .jd-browser__name Mozilla Firefox
      .jd-browser__button Download
      .jd-browser__os Verfügbar für Windows & macOS
    a.jd-browser(href="https://support.apple.com/HT204416" target="_blank")
      svg.jd-browser__logo
        use(href="#logo-safari" xlink:href="#logo-safari")
      .jd-browser__name Apple Safari
      .jd-browser__button Download
      .jd-browser__os Verfügbar für macOS
    a.jd-browser(href="https://www.microsoft.com/windows/microsoft-edge" target="_blank")
      svg.jd-browser__logo
        use(href="#logo-edge" xlink:href="#logo-edge")
      .jd-browser__name Microsoft Edge
      .jd-browser__button(href="https://www.microsoft.com/windows/microsoft-edge") Download
      .jd-browser__os Verfügbar für Windows
  .jd-browser-fallback__notice.jd-browser-fallback__notice--bottom Beyer Görges • Digital-Agentur • ping@beyergoerges.com • +49 (0)231 586 948 70
