footer#jd-footer.jd-footer
  .jd-footer__items.jd-footer__items--start
    span.jd-footer__item © 2018 Beyer Görges GmbH
    a.jd-footer__item.jd-footer__link(href="mailto:ping@beyergoerges.com") ping@beyergoerges.com
  nav.jd-footer__items.jd-footer__items--end
    a.jd-footer__item.jd-footer__link.jd-footer__link--legal-notice(href="") Impressum
    a.jd-footer__item.jd-footer__link.jd-footer__link--privacy(href="") Datenschutz
