{
  "name": "beyergoerges",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "src/main.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"dist/main.js\",\"sourceMap\":true,\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":false,\"mangle\":true},\"compiler-concat-js\":{\"enabled\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "src/vendor.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"dist/vendor.js\",\"sourceMap\":false,\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":false,\"mangle\":false},\"compiler-concat-js\":{\"enabled\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "dist/main.js",
      "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":true,\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"compiler-concat-js\":{\"enabled\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "dist/vendor.js",
      "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":true,\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"compiler-concat-js\":{\"enabled\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "src/vendor/vendor.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"dist/vendor.js\",\"sourceMap\":false,\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":false,\"mangle\":false},\"compiler-concat-js\":{\"enabled\":true},\"outputSuffix\":\"\"}"
    },
    {
      "path": "src/06-templates/_xmas.js",
      "configJson": "{\"autoCompile\":false,\"forceCompile\":true,\"customOutput\":\"dist/xmas.js\",\"sourceMap\":true,\"compiler-concat-js\":{\"enabled\":false},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":false,\"mangle\":false},\"outputSuffix\":\"\"}"
    },
    {
      "path": "src/xmas.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"dist/xmas.js\",\"sourceMap\":true,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":true},\"compiler-uglify-js\":{\"enabled\":false,\"mangle\":false},\"outputSuffix\":\"\"}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "src/vendor",
      "src",
      "src/06-templates"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "src/main.js",
      "imports": [
        "src/01-basics/_js-wrapper-start.js",
        "src/01-basics/_responsive.js",
        "src/01-basics/_lazyload.js",
        "src/01-basics/_animation.js",
        "src/03-objects/_media.js",
        "src/04-components/_menu.js",
        "src/05-layout/_block.js",
        "src/05-layout/_page-transitions.js",
        "src/05-layout/_section.js",
        "src/05-layout/_meta.js",
        "src/06-templates/_craft.js",
        "src/06-templates/_joda.js",
        "src/06-templates/_clients.js",
        "src/06-templates/_project.js",
        "src/06-templates/_press.js",
        "src/06-templates/_job.js",
        "src/06-templates/_contact.js",
        "src/06-templates/_xmas.js",
        "src/07-themes/_themes.js",
        "src/01-basics/_js-wrapper-end.js"
      ]
    },
    {
      "path": "src/main.scss",
      "imports": [
        "src/01-basics/__basics.scss",
        "src/02-typography/__typography.scss",
        "src/03-objects/__objects.scss",
        "src/04-components/__components.scss",
        "src/05-layout/__layout.scss",
        "src/06-templates/__templates.scss",
        "src/07-themes/__themes.scss",
        "src/01-basics/_tools.scss",
        "src/01-basics/_defaults.scss",
        "src/01-basics/_responsive.scss",
        "src/01-basics/_spacing.scss",
        "src/01-basics/_grid.scss",
        "src/01-basics/_colors.scss",
        "src/01-basics/_fonts.scss",
        "src/01-basics/_animation.scss",
        "src/01-basics/_global.scss",
        "src/02-typography/_headings.scss",
        "src/02-typography/_body-text.scss",
        "src/02-typography/_list.scss",
        "src/02-typography/_data-list.scss",
        "src/02-typography/_text-block.scss",
        "src/03-objects/_icon.scss",
        "src/03-objects/_logo.scss",
        "src/03-objects/_media.scss",
        "src/04-components/_menu.scss",
        "src/04-components/_cookie-banner.scss",
        "src/05-layout/_wrapper.scss",
        "src/05-layout/_container.scss",
        "src/05-layout/_header.scss",
        "src/05-layout/_footer.scss",
        "src/05-layout/_block.scss",
        "src/05-layout/_section.scss",
        "src/05-layout/_meta.scss",
        "src/06-templates/_craft.scss",
        "src/06-templates/_joda.scss",
        "src/06-templates/_clients.scss",
        "src/06-templates/_project.scss",
        "src/06-templates/_press.scss",
        "src/06-templates/_job.scss",
        "src/06-templates/_contact.scss",
        "src/06-templates/_legal-notice.scss",
        "src/06-templates/_privacy.scss",
        "src/06-templates/_browser-fallback.scss",
        "src/06-templates/_xmas-cookies.scss",
        "src/07-themes/_theme-xmas.scss",
        "src/07-themes/_theme-day.scss",
        "src/07-themes/_theme-night.scss"
      ]
    },
    {
      "path": "views/default.pug",
      "imports": [
        "views/includes/header.pug",
        "views/includes/svg/logo.pug",
        "views/includes/svg/icons.pug",
        "views/includes/svg/browsers.pug",
        "views/includes/footer.pug",
        "views/includes/meta/legal-notice.pug",
        "views/includes/meta/privacy.pug",
        "views/includes/browser-fallback.pug"
      ]
    },
    {
      "path": "views/index.pug",
      "imports": [
        "views/default.pug",
        "views/includes/svg/clients.pug",
        "views/includes/svg/press.pug",
        "views/includes/header.pug",
        "views/includes/svg/logo.pug",
        "views/includes/svg/icons.pug",
        "views/includes/svg/browsers.pug",
        "views/includes/footer.pug",
        "views/includes/meta/legal-notice.pug",
        "views/includes/meta/privacy.pug",
        "views/includes/browser-fallback.pug"
      ]
    },
    {
      "path": "src/01-basics/__basics.scss",
      "imports": [
        "src/01-basics/_tools.scss",
        "src/01-basics/_defaults.scss",
        "src/01-basics/_responsive.scss",
        "src/01-basics/_spacing.scss",
        "src/01-basics/_grid.scss",
        "src/01-basics/_colors.scss",
        "src/01-basics/_fonts.scss",
        "src/01-basics/_animation.scss",
        "src/01-basics/_global.scss"
      ]
    },
    {
      "path": "src/02-typography/__typography.scss",
      "imports": [
        "src/02-typography/_headings.scss",
        "src/02-typography/_body-text.scss",
        "src/02-typography/_list.scss",
        "src/02-typography/_data-list.scss",
        "src/02-typography/_text-block.scss"
      ]
    },
    {
      "path": "src/03-objects/__objects.scss",
      "imports": [
        "src/03-objects/_icon.scss",
        "src/03-objects/_logo.scss",
        "src/03-objects/_media.scss"
      ]
    },
    {
      "path": "src/04-components/__components.scss",
      "imports": [
        "src/04-components/_menu.scss",
        "src/04-components/_cookie-banner.scss"
      ]
    },
    {
      "path": "src/05-layout/__layout.scss",
      "imports": [
        "src/05-layout/_wrapper.scss",
        "src/05-layout/_container.scss",
        "src/05-layout/_header.scss",
        "src/05-layout/_footer.scss",
        "src/05-layout/_block.scss",
        "src/05-layout/_section.scss",
        "src/05-layout/_meta.scss"
      ]
    },
    {
      "path": "src/06-templates/__templates.scss",
      "imports": [
        "src/06-templates/_craft.scss",
        "src/06-templates/_joda.scss",
        "src/06-templates/_clients.scss",
        "src/06-templates/_project.scss",
        "src/06-templates/_press.scss",
        "src/06-templates/_job.scss",
        "src/06-templates/_contact.scss",
        "src/06-templates/_legal-notice.scss",
        "src/06-templates/_privacy.scss",
        "src/06-templates/_browser-fallback.scss",
        "src/06-templates/_xmas-cookies.scss"
      ]
    },
    {
      "path": "src/07-themes/__themes.scss",
      "imports": [
        "src/07-themes/_theme-xmas.scss",
        "src/07-themes/_theme-day.scss",
        "src/07-themes/_theme-night.scss"
      ]
    },
    {
      "path": "src/vendor/vendor.js",
      "imports": [
        "node_modules/enquire.js/dist/enquire.min.js",
        "node_modules/barba.js/dist/barba.min.js",
        "node_modules/blazy/blazy.min.js",
        "node_modules/typed.js/lib/typed.min.js",
        "src/vendor/_sun.js"
      ]
    },
    {
      "path": "views/agency/index.pug",
      "imports": [
        "views/default.pug",
        "views/includes/header.pug",
        "views/includes/svg/logo.pug",
        "views/includes/svg/icons.pug",
        "views/includes/svg/browsers.pug",
        "views/includes/footer.pug",
        "views/includes/meta/legal-notice.pug",
        "views/includes/meta/privacy.pug",
        "views/includes/browser-fallback.pug"
      ]
    },
    {
      "path": "views/contact/index.pug",
      "imports": [
        "views/default.pug",
        "views/includes/header.pug",
        "views/includes/svg/logo.pug",
        "views/includes/svg/icons.pug",
        "views/includes/svg/browsers.pug",
        "views/includes/footer.pug",
        "views/includes/meta/legal-notice.pug",
        "views/includes/meta/privacy.pug",
        "views/includes/browser-fallback.pug"
      ]
    },
    {
      "path": "views/jobs/index.pug",
      "imports": [
        "views/default.pug",
        "views/includes/header.pug",
        "views/includes/svg/logo.pug",
        "views/includes/svg/icons.pug",
        "views/includes/svg/browsers.pug",
        "views/includes/footer.pug",
        "views/includes/meta/legal-notice.pug",
        "views/includes/meta/privacy.pug",
        "views/includes/browser-fallback.pug"
      ]
    },
    {
      "path": "views/xmas2018/index.pug",
      "imports": [
        "views/includes/svg/logo.pug",
        "views/includes/svg/icons.pug"
      ]
    },
    {
      "path": "src/xmas.js",
      "imports": [
        "src/06-templates/_xmas.js"
      ]
    }
  ],
  "projectView": {
    "selectedView": "log"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7879,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": true,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"],\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false}}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"],\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":false}}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"],\"autoCompile\":false,\"compiler-pug\":{\"pretty\":false}}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"],\"sourceMap\":true,\"outputSuffix\":\"\"}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"],\"autoCompile\":false}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"],\"autoCompile\":false}",
  "file-type-haml": "{\"compilers\":[\"haml\"],\"autoCompile\":false}",
  "file-type-slim": "{\"compilers\":[\"slim\"],\"autoCompile\":false}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"],\"autoCompile\":false}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"],\"autoCompile\":false}",
  "file-type-kit": "{\"compilers\":[\"kit\"],\"autoCompile\":false}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"],\"autoCompile\":false}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}