doctype html
html(lang="de" dir="ltr")
  head
    // Global site tag (gtag.js) - Google Analytics
    script(async="" src="https://www.googletagmanager.com/gtag/js?id=UA-126828707-1")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-126828707-1');
    meta(charset="utf-8")
    title Beyer Görges – Digital-Agentur
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0")
    link(rel="icon" href="../favicon.ico?v=1.1")
    link(rel="stylesheet" href="../vendor.min.css")
    link(rel="stylesheet" href="../main.min.css")
  body
    svg(xmlns="http://www.w3.org/2000/svg" style="display: none;")
      include includes/svg/logo.pug
      include includes/svg/icons.pug
      block svg
    .jd-wrapper
      include includes/header.pug
      main.jd-container#barba-wrapper
        .barba-container
          block content
      include includes/footer.pug
      .jd-meta
        .jd-meta__close
          svg.jd-meta__close-icon(width="24" height="24")
            use(href="#jd-icon-x" xlink:href="#jd-icon-x")
        include includes/meta/legal-notice.pug
        include includes/meta/privacy.pug
    script(src="../vendor.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TimelineLite.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.4/plugins/ScrollToPlugin.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.js")
    script(src="../main.js")
