block vars

doctype html
html(lang="de" dir="ltr")
  head
    // Global site tag (gtag.js) - Google Analytics
    script(async="" src="https://www.googletagmanager.com/gtag/js?id=UA-126828707-1")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-126828707-1');
    meta(charset="utf-8")
    title Beyer Görges – Digital-Agentur
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0")
    link(rel="icon" href="../favicon.ico?v=1.1")
    link(rel="stylesheet" href="../vendor.min.css")
    link(rel="stylesheet" href="../main.min.css")
  body(class="jd-theme--xmas")
    .jd-wrapper
      include includes/header.pug
      main.jd-container#barba-wrapper
        .barba-container
          svg(xmlns="http://www.w3.org/2000/svg" style="display: none;")
            include includes/svg/logo.pug
            include includes/svg/icons.pug
            block svg
          block content
      include includes/footer.pug
      .jd-meta
        .jd-meta__close
          svg.jd-meta__close-icon(width="24" height="24")
            use(href="#jd-icon-x" xlink:href="#jd-icon-x")
        include includes/meta/legal-notice.pug
        include includes/meta/privacy.pug
      canvas(class="jd-snow")
    style.
      .jd-snow {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        pointer-events: none;
      }
    script(src="../vendor.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TimelineLite.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.4/plugins/ScrollToPlugin.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.js")
    script(src="../main.js")
    script.
      var canvas = document.querySelector('.jd-snow'),
      ctx = canvas.getContext('2d'),
      windowW = window.innerWidth,
      windowH = window.innerHeight,
      numFlakes = 200,
      flakes = [];

      function Flake(x, y) {
      var maxWeight = 5,
          maxSpeed = 3;

      this.x = x;
      this.y = y;
      this.r = randomBetween(0, 1);
      this.a = randomBetween(0, Math.PI);
      this.aStep = 0.01;


      this.weight = randomBetween(2, maxWeight);
      this.alpha = (this.weight / maxWeight);
      this.speed = (this.weight / maxWeight) * maxSpeed;

      this.update = function() {
        this.x += Math.cos(this.a) * this.r;
        this.a += this.aStep;
        
        this.y += this.speed;
      }

      }

      function init() {
      var i = numFlakes,
          flake,
          x,
          y;

      while (i--) {
        x = randomBetween(0, windowW, true);
        y = randomBetween(0, windowH, true);
        
        
        flake = new Flake(x, y);
        flakes.push(flake);
      }

      scaleCanvas();
      loop();  
      }

      function scaleCanvas() {
      canvas.width = windowW;
      canvas.height = windowH;
      }

      function loop() {
      var i = flakes.length,
          z,
          dist,
          flakeA,
          flakeB;

      // clear canvas
      ctx.save();
      ctx.setTransform(1, 0, 0, 1, 0, 0);
      ctx.clearRect(0, 0, windowW, windowH);
      ctx.restore();

      // loop of hell
      while (i--) {
        
        flakeA = flakes[i];
        flakeA.update();
        

        /*for (z = 0; z < flakes.length; z++) {
          flakeB = flakes[z];
          if (flakeA !== flakeB && distanceBetween(flakeA, flakeB) < 150) {          
            ctx.beginPath();
            ctx.moveTo(flakeA.x, flakeA.y);
            ctx.lineTo(flakeB.x, flakeB.y);
            ctx.strokeStyle = '#444444';
            ctx.stroke();
            ctx.closePath();
          }
        }*/

        
        ctx.beginPath();
        ctx.arc(flakeA.x, flakeA.y, flakeA.weight, 0, 2 * Math.PI, false);
        ctx.fillStyle = 'rgba(255, 255, 255, ' + flakeA.alpha + ')';
        ctx.fill();
        
        if (flakeA.y >= windowH) {
          flakeA.y = -flakeA.weight;
        }  
      }

      requestAnimationFrame(loop);
      }

      function randomBetween(min, max, round) {
      var num = Math.random() * (max - min + 1) + min;

      if (round) {
        return Math.floor(num);
      } else {
        return num;
      }
      }

      function distanceBetween(vector1, vector2) {
      var dx = vector2.x - vector1.x,
          dy = vector2.y - vector1.y;

      return Math.sqrt(dx*dx + dy*dy);
      }

      init();
  
