extends default.pug

block vars
  - var bodyClass = "jd-portfolio";

block svg 
  include includes/svg/clients.pug
  include includes/svg/press.pug

block content
  .jd-block.jd-block--solid.jd-block--no-spacing.jd-block--color-1
    section.jd-section.jd-projects
      article.jd-project.jd-project--featured#vfl
        .jd-media.jd-project__thumbnail
          //img.jd-media__item(src="images/projects/eventim-sports_ticketshop.jpg" alt="")
          video.jd-media__item(width="1920" height="1080" autoplay loop muted poster="../images/projects/vfl.jpg")
            source(data-src="../videos/projects/vfl.mp4" type="video/webm")
            source(data-src="../videos/projects/vfl.mp4" type="video/mp4")
          span.jd-media__revealer
        h3.jd-heading.jd-heading--high-level.jd-project__title VfL Bochum 1848 – Trikot-Kampagne
        .jd-project__description
          p.jd-paragraph 
            strong „Flutlichtblau“
            | : Entwicklung einer Omnichannel-Kampagne (Web, Social Media, Fotografie, Video, Print, Out of Home) in Zusammenarbeit mit dem VfL Bochum 1848.
          .jd-project__links
            a.jd-project__link.jd-project__link--web(href="https://trikot.vfl-bochum.de/index.html" target="_blank") Zur Landingpage
            a.jd-project__link.jd-project__link--video(href="https://www.youtube.com/watch?v=D0JB9YrfuA4" target="_blank") Film ansehen
            br
            span.jd-project__link-wrapper
              span.jd-project__link.jd-project__link--web.jd-project__link--label Presse: 
              a.jd-project__link.jd-project__link--no-icon(href="https://www.kicker.de/781155/artikel" target="_blank") 01
              a.jd-project__link.jd-project__link--no-icon(href="https://onefootball.com/de/news/flutlichtblau-ohne-brimborium-das-sind-die-neuen-bochum-trikots-30628014" target="_blank") 02
              a.jd-project__link.jd-project__link--no-icon(href="https://www.reviersport.de/artikel/vfl-bochum-stellt-neue-trikots-vor/" target="_blank") 03
      article.jd-project.jd-project--featured#eintrachtde
        .jd-media.jd-project__thumbnail
          //img.jd-media__item(src="images/projects/eventim-sports_ticketshop.jpg" alt="")
          video.jd-media__item(width="1920" height="1080" autoplay loop muted poster="../images/projects/eintrachtde.jpg")
            source(data-src="../videos/projects/eintracht.de.webm" type="video/webm")
            source(data-src="../videos/projects/eintrachtde.mp4" type="video/mp4")
          span.jd-media__revealer
        h3.jd-heading.jd-heading--high-level.jd-project__title Eintracht.de
        .jd-project__description
          p.jd-paragraph 
            strong DONE ✅ 
            | Konzept, Design und Frontend-Entwicklung: Die neue Website von Eintracht Frankfurt vereint Profis, Nachwuchs, Fans, Vereinssport, Historie und TV unter einem Dach.
          .jd-project__links
            a.jd-project__link.jd-project__link--web(href="https://www.eintracht.de" target="_blank") Zur Website
            a.jd-project__link.jd-project__link--web(href="https://profis.eintracht.de/news/die-neue-eintrachtde-125267" target="_blank") Zum Case
  header.jd-block.jd-block--intro
    h1.jd-heading.jd-heading--page Design x Digital
    h2.jd-heading.jd-heading--high-level Wir schaffen Werte –
      br
      | in einer digitalen Welt.
  .jd-block.jd-block--solid.jd-block--color-1
    section.jd-section#projects
      h3.jd-heading.jd-heading--section.jd-section__title
        span.jd-section__title-index
          span.jd-section__title-number 01
          span.jd-section__title-line
        span.jd-section__title-text Portfolio
      ul.jd-clients
        li.jd-client
          span.jd-client__line-x
          span.jd-client__line-y
          svg.jd-client__logo(width="160" height="160")
            use(href="#logo-eintracht" xlink:href="#logo-eintracht")
        li.jd-client
          span.jd-client__line-x
          span.jd-client__line-y
          svg.jd-client__logo(width="160" height="160")
            use(href="#logo-eventim" xlink:href="#logo-eventim")
        li.jd-client
          span.jd-client__line-x
          span.jd-client__line-y
          svg.jd-client__logo(width="160" height="160")
            use(href="#logo-fc" xlink:href="#logo-fc")
        li.jd-client
          span.jd-client__line-x
          span.jd-client__line-y
          svg.jd-client__logo(width="160" height="160")
            use(href="#logo-dovoba" xlink:href="#logo-dovoba")
        li.jd-client
          span.jd-client__line-x
          span.jd-client__line-y
          svg.jd-client__logo(width="160" height="160")
            use(href="#logo-lungmuss" xlink:href="#logo-lungmuss")
        li.jd-client
          span.jd-client__line-x
          span.jd-client__line-y
          svg.jd-client__logo(width="160" height="160")
            use(href="#logo-vfl" xlink:href="#logo-vfl")
        li.jd-client
          span.jd-client__line-x
          span.jd-client__line-y
          svg.jd-client__logo(width="160" height="160")
            use(href="#logo-eset" xlink:href="#logo-eset")
        li.jd-client
          span.jd-client__line-x
          span.jd-client__line-y
          svg.jd-client__logo(width="160" height="160")
            use(href="#logo-bvb" xlink:href="#logo-bvb")
        li.jd-client
          span.jd-client__line-x
          span.jd-client__line-y
          svg.jd-client__logo(width="160" height="160")
            use(href="#logo-sportfive" xlink:href="#logo-sportfive")
        li.jd-client
          span.jd-client__line-x
          span.jd-client__line-y
          svg.jd-client__logo(width="160" height="160")
            use(href="#logo-schmiede-zollverein" xlink:href="#logo-schmiede-zollverein")
        li.jd-client
          span.jd-client__line-x
          span.jd-client__line-y
          svg.jd-client__logo(width="160" height="160")
            use(href="#logo-king-racoon" xlink:href="#logo-king-racoon")
        li.jd-client
          span.jd-client__line-x
          span.jd-client__line-y
          svg.jd-client__logo(width="160" height="160")
            use(href="#logo-ist" xlink:href="#logo-ist")
  .jd-block.jd-block--hollow
    section.jd-section.jd-projects
      article.jd-project.jd-project--standard#eventim-shop
        .jd-media.jd-project__thumbnail
          //img.jd-media__item(src="images/projects/eventim-sports_ticketshop.jpg" alt="")
          video.jd-media__item(width="960" height="540" autoplay loop muted poster="../images/projects/eventim-sports_ticketshop.jpg")
            source(data-src="../videos/projects/eventim-sports-ticketshop.webm" type="video/webm")
            source(data-src="../videos/projects/eventim-sports-ticketshop.mp4" type="video/mp4")
          span.jd-media__revealer
        h3.jd-heading.jd-heading--high-level.jd-project__title Eventim Sports Shop
        .jd-project__description
          p.jd-paragraph Design und Frontend-Entwicklung des neuen Online-Shops für den Marktführer im Sport-Ticketing; Frontend-Relaunch der Shops von Borussia Dortmund, 1. FC Köln, Hertha BSC und SG Flensburg-Handewitt.
          .jd-project__links
            span.jd-project__link-wrapper
              span.jd-project__link.jd-project__link--web.jd-project__link--label Shop-Links: 
              a.jd-project__link.jd-project__link--no-icon(href="https://www.bvb.de/ticketshop" target="_blank") BVB
              a.jd-project__link.jd-project__link--no-icon(href="https://www.eventimsports.de/ols/fckoeln" target="_blank") Köln
              a.jd-project__link.jd-project__link--no-icon(href="http://www.herthatickets.de" target="_blank") Hertha
              a.jd-project__link.jd-project__link--no-icon(href="https://www.eventimsports.de/ols/sgflha" target="_blank") SGF
      article.jd-project.jd-project--standard#tsukuyumi
        .jd-media.jd-project__thumbnail
          //img.jd-media__item(src="images/projects/tsukuyumi.jpg" alt="")
          video.jd-media__item(width="960" height="540" autoplay loop muted poster="../images/projects/tsukuyumi.jpg")
            source(data-src="../videos/projects/tsukuyumi.webm" type="video/webm")
            source(data-src="../videos/projects/tsukuyumi.mp4" type="video/mp4")
          span.jd-media__revealer
        h3.jd-heading.jd-heading--high-level.jd-project__title Tsukuyumi
        .jd-project__description
          p.jd-paragraph Design und Entwicklung einer multimedialen Website für den Crowdfunding-Erfolg „Tsukuyumi – Full Moon Down“: ein Strategiespiel eingebettet in eine opulente Science-Fiction-Storyworld.
          .jd-project__links
            a.jd-project__link.jd-project__link--web(href="http://www.tsukuyumi.com" target="_blank") Zur Website
      article.jd-project.jd-project--standard#day-in-may
        .jd-media.jd-project__thumbnail
          //img.jd-media__item(src="images/projects/a-day-in-may.jpg" alt="")
          video.jd-media__item(width="960" height="540" autoplay loop muted poster="../images/projects/a-day-in-may.jpg")
            source(data-src="../videos/projects/a-day-in-may.webm" type="video/webm")
            source(data-src="../videos/projects/a-day-in-may.mp4" type="video/mp4")
          span.jd-media__revealer
        h3.jd-heading.jd-heading--high-level.jd-project__title Ein Tag im Mai
        .jd-project__description
          p.jd-paragraph 28. Mai 2017. Tausende BVB-Fans tauchen die Straßen von Dortmund in Schwarz und Gelb, als sie mit der Mannschaft den Pokalsieg feiern. Filmische Portraits von Menschen im Freundentaumel.
          .jd-project__links
            a.jd-project__link.jd-project__link--video(href="https://vimeo.com/219945141" target="_blank") Film ansehen
      //- article.jd-project.jd-project--standard#kidsclub
      //-   .jd-media.jd-project__thumbnail
      //-     //img.jd-media__item(src="images/projects/bvb-kidsclub.jpg" alt="")
      //-     video.jd-media__item(width="960" height="540" autoplay loop muted poster="../images/projects/bvb-kidsclub.jpg")
      //-       source(data-src="../videos/projects/bvb-kidsclub.webm" type="video/webm")
      //-       source(data-src="../videos/projects/bvb-kidsclub.mp4" type="video/mp4")
      //-     span.jd-media__revealer
      //-   h3.jd-heading.jd-heading--high-level.jd-project__title BVB-KidsClub
      //-   .jd-project__description
      //-     p.jd-paragraph Konzept/UX, Design und Entwicklung der neuen KidsClub-Website. Hier finden die kleinen Fans ein digitales Zuhause und lernen an der Seite von Maskottchen Emma spielerisch die BVB-Welt kennen.
      //-     .jd-project__links
      //-       a.jd-project__link.jd-project__link--web(href="https://kidsclub.bvb.de/" target="_blank") Zur Website
      //- article.jd-project.jd-project--standard#dfa
      //-   .jd-media.jd-project__thumbnail
      //-     //img.jd-media__item(src="images/projects/24.jpg" alt="")
      //-     video.jd-media__item(width="960" height="540" autoplay loop muted poster="../images/projects/24.jpg")
      //-       source(data-src="../videos/projects/24.webm" type="video/webm")
      //-       source(data-src="../videos/projects/24.mp4" type="video/mp4")
      //-     span.jd-media__revealer
      //-   h3.jd-heading.jd-heading--high-level.jd-project__title Vierundzwanzig.de
      //-   .jd-project__description
      //-     p.jd-paragraph Das Wissensportal der Deutschen Filmakademie verbindet einen multimedialen Blick hinter die Kulissen der Profis mit einem interaktiven Lehrangebot. Konzeption und User Experience Design.
      //-     .jd-project__links
      //-       a.jd-project__link.jd-project__link--web(href="https://vierundzwanzig.de" target="_blank") Zur Website
      article.jd-project.jd-project--standard#heimat
        .jd-media.jd-project__thumbnail
          //img.jd-media__item(src="images/projects/40-jahre-heimat.jpg" alt="")
          video.jd-media__item(width="960" height="540" autoplay loop muted poster="../images/projects/40-jahre-heimat.jpg")
            source(data-src="../videos/projects/40-jahre-heimat.webm" type="video/webm")
            source(data-src="../videos/projects/40-jahre-heimat.mp4" type="video/mp4")
          span.jd-media__revealer
        h3.jd-heading.jd-heading--high-level.jd-project__title 40 Jahre Heimat
        .jd-project__description
          p.jd-paragraph Die Entstehung eines Stadions und seine bewegte Geschichte als filmisches Erlebnis – 3D-Animation einer Serie historischer Fotos zum 40. Jubiläum des Signal Iduna Parks, Heimat von Borussia Dortmund.
          .jd-project__links
            a.jd-project__link.jd-project__link--video(href="https://www.youtube.com/watch?v=NNbXcve0o8g" target="_blank") Film ansehen
  .jd-block.jd-block--solid.jd-block--color-1
    section.jd-section.jd-press#press
      h3.jd-heading.jd-heading--section.jd-section__title
        span.jd-section__title-index
          span.jd-section__title-number 02
          span.jd-section__title-line
        span.jd-section__title-text Presse
      .jd-press__items
        a.jd-press__item(href="https://www.sueddeutsche.de/sport/bayern-gegen-dortmund-im-netz-die-fussgaengerzone-der-welt-1.2200876" target="_blank")
          svg.jd-press__logo.jd-press__logo--sz
            use(href="#logo-sz" xlink:href="#logo-sz")
        a.jd-press__item(href="https://www.wired.com/2011/01/cinema-out-of-your-backpack/" target="_blank")
          svg.jd-press__logo.jd-press__logo--wired
            use(href="#logo-wired" xlink:href="#logo-wired")
        //- a.jd-press__item(href="" target="_blank")
        //-   svg.jd-press__logo.jd-press__logo--sponsors
        //-     use(href="#logo-sponsors" xlink:href="#logo-sponsors")
        a.jd-press__item(href="http://www.faz.net/aktuell/sport/mehr-sport/woran-die-bundesliga-beim-thema-e-sport-noch-scheitert-15749191.html" target="_blank")
          svg.jd-press__logo.jd-press__logo--faz
            use(href="#logo-faz" xlink:href="#logo-faz")
        a.jd-press__item(href="https://www.11freunde.de/interview/ein-film-zur-meisterfeier-des-bvb" target="_blank")
          svg.jd-press__logo.jd-press__logo--11freunde
            use(href="#logo-11freunde" xlink:href="#logo-11freunde")
        a.jd-press__item(href="https://www.ruhrnachrichten.de/Nachrichten/Dortmund/Intensives-Jubeln-intensives-Leiden-der-BVB-im-Social-Web-17689.html" target="_blank")
          svg.jd-press__logo.jd-press__logo--rn
            use(href="#logo-rn" xlink:href="#logo-rn")
        a.jd-press__item(href="https://www.handelsblatt.com/sport/fussball/digitalisierung-im-fussball-mit-einem-bein-im-show-geschaeft/20019142-all.html?ticket=ST-6016452-WHYa02HeLakYO0DBHcSj-ap3" target="_blank")
          svg.jd-press__logo.jd-press__logo--handelsblatt
            use(href="#logo-handelsblatt" xlink:href="#logo-handelsblatt")
        a.jd-press__item(href="https://sportsmaniac.de/digitale-strategie-des-bvb" target="_blank")
          img.jd-press__logo.jd-press__logo--sports-maniac.jd-press__logo--day(src="images/press/sports-maniac.png" alt="Sports Maniac")
          img.jd-press__logo.jd-press__logo--sports-maniac.jd-press__logo--night(src="images/press/sports-maniac_white.png" alt="Sports Maniac")
        a.jd-press__item(href="https://techcrunch.com/2011/01/02/fancy-yourself-a-dslr-filmmaker-heres-your-change-to-prove-it/" target="_blank")
          svg.jd-press__logo.jd-press__logo--techcrunch
            use(href="#logo-techcrunch" xlink:href="#logo-techcrunch")
    section.jd-section.jd-press#speaker
      h3.jd-heading.jd-heading--section.jd-section__title
        span.jd-section__title-index
          span.jd-section__title-number 03
          span.jd-section__title-line
        span.jd-section__title-text Vorträge
      .jd-press__items
        a.jd-press__item(href="https://re-publica.com/en/member/9132" target="_blank")
          svg.jd-press__logo.jd-press__logo--republica
            use(href="#logo-republica" xlink:href="#logo-republica")
        a.jd-press__item(href="https://www.campus-symposium.com" target="_blank")
          img.jd-press__logo.jd-press__logo--campus.jd-press__logo--day(src="images/press/campus.png" alt="Campus Symposium")
          img.jd-press__logo.jd-press__logo--campus.jd-press__logo--night(src="images/press/campus_white.png" alt="Campus Symposium")
        a.jd-press__item(href="https://www.youtube.com/watch?v=2LjSveRHcxw" target="_blank")
          svg.jd-press__logo.jd-press__logo--spobis
            use(href="#logo-spobis" xlink:href="#logo-spobis")
        //- a.jd-press__item(href="" target="_blank")
        //-   img.jd-press__logo.jd-press__logo--faz-forum(src="images/press/faz-forum.png" alt="Frankfurter Allgemeine Forum")
        a.jd-press__item(href="https://www.omk2018.de/speaker/david-goerges/" target="_blank")
          img.jd-press__logo.jd-press__logo--omk.jd-press__logo--day(src="images/press/omk.png" alt="OMK")
          img.jd-press__logo.jd-press__logo--omk.jd-press__logo--night(src="images/press/omk_white.png" alt="OMK")
        a.jd-press__item(href="https://www.netandwork.de/speaker" target="_blank")
          img.jd-press__logo.jd-press__logo--netandwork.jd-press__logo--day(src="images/press/netandwork.png" alt="Net&Work")
          img.jd-press__logo.jd-press__logo--netandwork.jd-press__logo--night(src="images/press/netandwork_white.png" alt="Net&Work")
  .jd-block.jd-block--outro
    a.jd-heading.jd-heading--page.jd-heading--inverted(href="/agency")
      span.jd-heading__text Agentur
      span.jd-arrow
