extends default.pug

block vars
  - var bodyClass = "jd-theme--day jd-portfolio";

block svg 
  include includes/svg/clients.pug
  include includes/svg/press.pug

block content
  header.jd-block.jd-block--intro
    h1.jd-heading.jd-heading--page Design × Digital
    h2.jd-heading.jd-heading--high-level Wir schaffen Werte –
      br
      | in einer digitalen Welt.
  .jd-block.jd-block--solid.jd-block--color-1
    section.jd-section#projects
      h3.jd-heading.jd-heading--section.jd-section__title
        span.jd-section__title-index
          span.jd-section__title-number 01
          span.jd-section__title-line
        span.jd-section__title-text Portfolio
      ul.jd-clients.jd-clients--6
        li.jd-client.jd-client--6
          span.jd-client__line-x
          span.jd-client__line-y
          svg.jd-client__logo(width="160" height="160")
            use(href="#logo-eintracht" xlink:href="#logo-eintracht")
        li.jd-client.jd-client--6
          span.jd-client__line-x
          span.jd-client__line-y
          svg.jd-client__logo(width="160" height="160")
            use(href="#logo-eventim" xlink:href="#logo-eventim")
        li.jd-client.jd-client--6
          span.jd-client__line-x
          span.jd-client__line-y
          svg.jd-client__logo(width="160" height="160")
            use(href="#logo-vfl" xlink:href="#logo-vfl")
        li.jd-client.jd-client--6
          span.jd-client__line-x
          span.jd-client__line-y
          svg.jd-client__logo(width="160" height="160")
            use(href="#logo-ihk" xlink:href="#logo-ihk")
        li.jd-client.jd-client--6
          span.jd-client__line-x
          span.jd-client__line-y
          svg.jd-client__logo(width="160" height="160")
            use(href="#logo-dovoba" xlink:href="#logo-dovoba")
        li.jd-client.jd-client--6
          span.jd-client__line-x
          span.jd-client__line-y
          svg.jd-client__logo(width="160" height="160")
            use(href="#logo-fc" xlink:href="#logo-fc")
        li.jd-client.jd-client--6
          span.jd-client__line-x
          span.jd-client__line-y
          svg.jd-client__logo(width="160" height="160")
            use(href="#logo-eset" xlink:href="#logo-eset")
        li.jd-client.jd-client--6
          span.jd-client__line-x
          span.jd-client__line-y
          svg.jd-client__logo(width="160" height="160")
            use(href="#logo-bvb" xlink:href="#logo-bvb")
        li.jd-client.jd-client--6
          span.jd-client__line-x
          span.jd-client__line-y
          svg.jd-client__logo(width="160" height="160")
            use(href="#logo-sportfive" xlink:href="#logo-sportfive")
        li.jd-client.jd-client--6
          span.jd-client__line-x
          span.jd-client__line-y
          svg.jd-client__logo(width="160" height="160")
            use(href="#logo-sks" xlink:href="#logo-sks")
        li.jd-client.jd-client--6
          span.jd-client__line-x
          span.jd-client__line-y
          svg.jd-client__logo(width="160" height="160")
            use(href="#logo-lungmuss" xlink:href="#logo-lungmuss")
        li.jd-client.jd-client--6
          span.jd-client__line-x
          span.jd-client__line-y
          svg.jd-client__logo(width="160" height="160")
            use(href="#logo-schmiede-zollverein" xlink:href="#logo-schmiede-zollverein")
        li.jd-client.jd-client--6
          span.jd-client__line-x
          span.jd-client__line-y
          svg.jd-client__logo(width="160" height="160")
            use(href="#logo-ssh" xlink:href="#logo-ssh")
        li.jd-client.jd-client--6
          span.jd-client__line-x
          span.jd-client__line-y
          svg.jd-client__logo(width="160" height="160")
            use(href="#logo-wntt" xlink:href="#logo-wntt")
        li.jd-client.jd-client--6
          span.jd-client__line-x
          span.jd-client__line-y
          svg.jd-client__logo(width="160" height="160")
            use(href="#logo-hertha" xlink:href="#logo-hertha")
        li.jd-client.jd-client--6
          span.jd-client__line-x
          span.jd-client__line-y
          svg.jd-client__logo(width="160" height="160")
            use(href="#logo-king-racoon" xlink:href="#logo-king-racoon")
        li.jd-client.jd-client--6
          span.jd-client__line-x
          span.jd-client__line-y
          svg.jd-client__logo(width="160" height="160")
            use(href="#logo-ist" xlink:href="#logo-ist")
        li.jd-client.jd-client--6
          span.jd-client__line-x
          span.jd-client__line-y
          svg.jd-client__logo(width="160" height="160")
            use(href="#logo-bmg" xlink:href="#logo-bmg")
  .jd-block.jd-block--hollow
    section.jd-section.jd-projects
      article.jd-project.jd-project--standard#stores
        .jd-media.jd-project__thumbnail
          //img.jd-media__item(src="images/projects/vfl.jpg" alt="")
          video.jd-media__item(width="960" height="540" autoplay loop muted playsinline poster="../images/projects/stores.jpg")
            source(data-src="../videos/projects/stores.webm" type="video/webm")
            source(data-src="../videos/projects/stores.mp4" type="video/mp4")
          span.jd-media__revealer
        h3.jd-heading.jd-heading--section.jd-project__title Eintracht Stores
        .jd-project__description
          p.jd-paragraph Design/Frontend: Die neuen Eintracht Stores führen Fanshop, Tickets, TV-Abo und Fußballcamps an einem zentralen Ort zusammen – ein Warenkorb für alles, nahtlos in die neue Website integriert.
          .jd-project__links
            a.jd-project__link.jd-project__link--web(href="https://stores.eintracht.de" target="_blank") Zu den Stores
            a.jd-project__link.jd-project__link--web(href="https://stores.eintracht.de/die-neuen-stores/" target="_blank") Zum Case
      article.jd-project.jd-project--standard#eintrachtde
        .jd-media.jd-project__thumbnail
          //img.jd-media__item(src="images/projects/eventim-sports_ticketshop.jpg" alt="")
          video.jd-media__item(width="960" height="540" autoplay loop muted playsinline poster="../images/projects/eintrachtde.jpg")
            source(data-src="../videos/projects/eintrachtde.webm" type="video/webm")
            source(data-src="../videos/projects/eintrachtde.mp4" type="video/mp4")
          span.jd-media__revealer
        h3.jd-heading.jd-heading--section.jd-project__title Eintracht.de
        .jd-project__description
          p.jd-paragraph Konzept, Design und Frontend-Entwicklung: Die neue Website von Eintracht Frankfurt vereint Profis, Frauen, Nachwuchs, Fans, Vereinssport, Historie und TV unter einem Dach.
          .jd-project__links
            a.jd-project__link.jd-project__link--web(href="https://www.eintracht.de" target="_blank") Zur Website
            a.jd-project__link.jd-project__link--web(href="https://profis.eintracht.de/news/die-neue-eintrachtde-125267" target="_blank") Zum Case
      article.jd-project.jd-project--standard#vfl
        .jd-media.jd-project__thumbnail
          //img.jd-media__item(src="images/projects/vfl.jpg" alt="")
          video.jd-media__item.jd-media__item--phone-only(width="960" height="540" autoplay loop muted playsinline poster="../images/projects/vfl.jpg")
            source(src="../videos/projects/vfl_mobile.webm" type="video/webm")
            source(src="../videos/projects/vfl_mobile.mp4" type="video/mp4")
          video.jd-media__item.jd-media__item--from-tablet(width="1920" height="1080" autoplay loop muted playsinline poster="../images/projects/vfl.jpg")
            source(data-src="../videos/projects/vfl.webm" type="video/webm")
            source(data-src="../videos/projects/vfl.mp4" type="video/mp4")
          span.jd-media__revealer
        h3.jd-heading.jd-heading--section.jd-project__title Kein Brimborium.
        .jd-project__description
          p.jd-paragraph „Flutlichtblau“ – Entwicklung einer Omnichannel-Trikotkampagne (Web, Social Media, Fotografie, Video, Print, Out of Home) in Zusammenarbeit mit dem VfL Bochum 1848.
          .jd-project__links
            a.jd-project__link.jd-project__link--web(href="https://www.beyergoerges.com/vfl-bochum/" target="_blank") Landingpage
            a.jd-project__link.jd-project__link--video(href="https://www.youtube.com/watch?v=D0JB9YrfuA4" target="_blank") Film ansehen
            br
            span.jd-project__link-wrapper
              span.jd-project__link.jd-project__link--web.jd-project__link--label Presse: 
              a.jd-project__link.jd-project__link--no-icon(href="https://www.kicker.de/781155/artikel" target="_blank") 01
              a.jd-project__link.jd-project__link--no-icon(href="https://onefootball.com/de/news/flutlichtblau-ohne-brimborium-das-sind-die-neuen-bochum-trikots-30628014" target="_blank") 02
              a.jd-project__link.jd-project__link--no-icon(href="https://www.reviersport.de/artikel/vfl-bochum-stellt-neue-trikots-vor/" target="_blank") 03
      article.jd-project.jd-project--standard#lungmuss
        .jd-media.jd-project__thumbnail
          //img.jd-media__item(src="images/projects/a-day-in-may.jpg" alt="")
          video.jd-media__item(width="960" height="540" autoplay loop muted playsinline poster="../images/projects/lungmuss.jpg")
            source(data-src="../videos/projects/lungmuss.webm" type="video/webm")
            source(data-src="../videos/projects/lungmuss.mp4" type="video/mp4")
          span.jd-media__revealer
        h3.jd-heading.jd-heading--section.jd-project__title Feuerfest seit 1958.
        .jd-project__description
          p.jd-paragraph Neue Website und Imagefilm für das Dortmunder Industrieunternehmen Lungmuß Feuerfest, seit über 60 Jahren einer der europaweit führenden Anbieter von ungeformten feuerfesten Produkten.
          .jd-project__links
            a.jd-project__link.jd-project__link--web(href="https://www.lungmuss.de" target="_blank") Zur Website
            a.jd-project__link.jd-project__link--video(href="https://www.youtube.com/watch?v=ycqL0WO0xhQ" target="_blank") Film ansehen
      article.jd-project.jd-project--standard#sks
        .jd-media.jd-project__thumbnail
          //img.jd-media__item(src="images/projects/bvb-kidsclub.jpg" alt="")
          video.jd-media__item(width="960" height="540" autoplay loop muted poster="../images/projects/sks.jpg")
            //source(data-src="../videos/projects/sks.webm" type="video/webm")
            source(data-src="../videos/projects/sks.mp4" type="video/mp4")
          span.jd-media__revealer
        h3.jd-heading.jd-heading--section.jd-project__title Das Rad neu erfinden.
        .jd-project__description
          p.jd-paragraph Marken-Claim, Designkonzept, Landingpage und Produktkampagnen zum 100-jährigen Jubiläum von SKS Germany, dem Weltmarktführer in der Fahrrad-Erstausrüstung.
          .jd-project__links
            a.jd-project__link.jd-project__link--web(href="https://www.sks-germany.com/100" target="_blank") Landingpage
      article.jd-project.jd-project--standard#ihk
        .jd-media.jd-project__thumbnail
          //img.jd-media__item(src="images/projects/tsukuyumi.jpg" alt="")
          video.jd-media__item(width="960" height="540" autoplay loop muted playsinline poster="../images/projects/ihk.jpg")
            source(data-src="../videos/projects/ihk.webm" type="video/webm")
            source(data-src="../videos/projects/ihk.mp4" type="video/mp4")
          span.jd-media__revealer
        h3.jd-heading.jd-heading--section.jd-project__title Im Westen was Neues.
        .jd-project__description
          p.jd-paragraph „Wir schicken Helden auf die Reise“ – Konzept/Strategie, Branding, Omnichannel-Kampagne und Website für die Initiative Industrie Mittleres Ruhrgebiet von IHK, AGV und VfL Bochum 1848.
          .jd-project__links
            a.jd-project__link.jd-project__link--web(href="https://www.industrie-ruhrgebiet.de" target="_blank") Zur Website
      article.jd-project.jd-project--standard#dovoba
        .jd-media.jd-project__thumbnail
          //img.jd-media__item(src="images/projects/24.jpg" alt="")
          video.jd-media__item(width="960" height="540" autoplay loop muted poster="../images/projects/dovoba.jpg")
            //source(data-src="../videos/projects/dovoba.webm" type="video/webm")
            source(data-src="../videos/projects/dovoba.mp4" type="video/mp4")
          span.jd-media__revealer
        h3.jd-heading.jd-heading--section.jd-project__title Die Genossenschaftsbank
        .jd-project__description
          p.jd-paragraph Soziales Netzwerk. Seit 1899. Digitale Kommunikation und Omnichannel-Kampagnen für die Dortmunder Volksbank: Werbung, Texte, Grafik, Video, Out of Home, Web und Social Media.
      article.jd-project.jd-project--standard#eset
        .jd-media.jd-project__thumbnail
          //img.jd-media__item(src="images/projects/40-jahre-heimat.jpg" alt="")
          video.jd-media__item(width="960" height="540" autoplay loop muted playsinline poster="../images/projects/eset.jpg")
            //source(data-src="../videos/projects/eset.webm" type="video/webm")
            source(data-src="../videos/projects/eset.mp4" type="video/mp4")
          span.jd-media__revealer
        h3.jd-heading.jd-heading--section.jd-project__title ESET × BVB
        .jd-project__description
          p.jd-paragraph Aktivierung von ESET Internet Security als Partner von Borussia Dortmund – seit der Saison 2019/20 dauerhafte strategische Beratung und plattformübergreifende Entwicklung von Sponsoring-Formaten.
      article.jd-project.jd-project--standard#wntt
        .jd-media.jd-project__thumbnail
          //img.jd-media__item(src="images/projects/24.jpg" alt="")
          video.jd-media__item(width="960" height="540" autoplay loop muted poster="../images/projects/wntt.jpg")
            //source(data-src="../videos/projects/wntt.webm" type="video/webm")
            source(data-src="../videos/projects/wntt.mp4" type="video/mp4")
          span.jd-media__revealer
        h3.jd-heading.jd-heading--section.jd-project__title We Need To Talk
        .jd-project__description
          p.jd-paragraph Design und Entwicklung einer Progressive Web App (PWA) für WNTT – die interaktive Sport1-Liveshow rund um die großen Themen des Fußballs mit Podcastern, Bloggern und Fans.
          .jd-project__links
            a.jd-project__link.jd-project__link--web(href="https://www.beyergoerges.com/vfl-bochum/" target="_blank") Zur PWA
      article.jd-project.jd-project--standard#racoon
        .jd-media.jd-project__thumbnail
          //img.jd-media__item(src="images/projects/tsukuyumi.jpg" alt="")
          video.jd-media__item(width="960" height="540" autoplay loop muted playsinline poster="../images/projects/kingracoon.jpg")
            source(data-src="../videos/projects/kingracoon.webm" type="video/webm")
            source(data-src="../videos/projects/kingracoon.mp4" type="video/mp4")
          span.jd-media__revealer
        h3.jd-heading.jd-heading--section.jd-project__title King Racoon
        .jd-project__description
          p.jd-paragraph Neue Wortmarke und Website für das Brettspiel- und Storyworld-Studio King Racoon, verantwortlich u.a. für den internationalen Crowdfunding-Erfolg „Tsukuyumi – Full Moon Down“.
          .jd-project__links
            a.jd-project__link.jd-project__link--web(href="https://www.kingracoon.com" target="_blank") Zur Website
      article.jd-project.jd-project--standard#digitalexpert
        .jd-media.jd-project__thumbnail
          //img.jd-media__item(src="images/projects/tsukuyumi.jpg" alt="")
          video.jd-media__item(width="960" height="540" autoplay loop muted playsinline poster="../images/projects/digital-expert.jpg")
            source(data-src="../videos/projects/digital-expert.webm" type="video/webm")
            source(data-src="../videos/projects/digital-expert.mp4" type="video/mp4")
          span.jd-media__revealer
        h3.jd-heading.jd-heading--section.jd-project__title Digital Expert Zollverein
        .jd-project__description
          p.jd-paragraph Logo, Corporate Identity und Landingpage für das Digital-Expert-Programm der Schmiede Zollverein, eine Initiative für die Gestaltung der Digitalen Transformation in Unternehmen wie z.B. Open Grid Europe.
          .jd-project__links
            a.jd-project__link.jd-project__link--web(href="https://digital-expert.webflow.io" target="_blank") Landingpage
      article.jd-project.jd-project--standard#eventim-shop
        .jd-media.jd-project__thumbnail
          //img.jd-media__item(src="images/projects/eventim-sports_ticketshop.jpg" alt="")
          video.jd-media__item(width="960" height="540" autoplay loop muted playsinline poster="../images/projects/eventim-sports_ticketshop.jpg")
            source(data-src="../videos/projects/eventim-sports-ticketshop.webm" type="video/webm")
            source(data-src="../videos/projects/eventim-sports-ticketshop.mp4" type="video/mp4")
          span.jd-media__revealer
        h3.jd-heading.jd-heading--section.jd-project__title Eventim Sports Shop
        .jd-project__description
          p.jd-paragraph Design und Frontend-Entwicklung des neuen Online-Shops für den Marktführer im Sport-Ticketing; Frontend-Relaunch der Shops von Borussia Dortmund, 1. FC Köln, Hertha BSC und SG Flensburg-Handewitt.
          .jd-project__links
            span.jd-project__link-wrapper
              span.jd-project__link.jd-project__link--web.jd-project__link--label Shop-Links: 
              a.jd-project__link.jd-project__link--no-icon(href="https://www.bvb.de/ticketshop" target="_blank") BVB
              a.jd-project__link.jd-project__link--no-icon(href="https://www.eventimsports.de/ols/fckoeln" target="_blank") Köln
              a.jd-project__link.jd-project__link--no-icon(href="https://www.herthatickets.de" target="_blank") Hertha
              a.jd-project__link.jd-project__link--no-icon(href="https://www.eventimsports.de/ols/sgflha" target="_blank") SGF
  .jd-block.jd-block--solid.jd-block--color-1
    section.jd-section.jd-press#press
      h3.jd-heading.jd-heading--section.jd-section__title
        span.jd-section__title-index
          span.jd-section__title-number 02
          span.jd-section__title-line
        span.jd-section__title-text Presse
      .jd-press__items
        a.jd-press__item(href="https://www.sueddeutsche.de/sport/bayern-gegen-dortmund-im-netz-die-fussgaengerzone-der-welt-1.2200876" target="_blank")
          svg.jd-press__logo.jd-press__logo--sz
            use(href="#logo-sz" xlink:href="#logo-sz")
        a.jd-press__item(href="https://www.wired.com/2011/01/cinema-out-of-your-backpack/" target="_blank")
          svg.jd-press__logo.jd-press__logo--wired
            use(href="#logo-wired" xlink:href="#logo-wired")
        //- a.jd-press__item(href="" target="_blank")
        //-   svg.jd-press__logo.jd-press__logo--sponsors
        //-     use(href="#logo-sponsors" xlink:href="#logo-sponsors")
        a.jd-press__item(href="http://www.faz.net/aktuell/sport/mehr-sport/woran-die-bundesliga-beim-thema-e-sport-noch-scheitert-15749191.html" target="_blank")
          svg.jd-press__logo.jd-press__logo--faz
            use(href="#logo-faz" xlink:href="#logo-faz")
        //- a.jd-press__item(href="https://www.11freunde.de/interview/ein-film-zur-meisterfeier-des-bvb" target="_blank")
        //-   svg.jd-press__logo.jd-press__logo--11freunde
        //-     use(href="#logo-11freunde" xlink:href="#logo-11freunde")
        a.jd-press__item(href="https://www.ruhrnachrichten.de/Nachrichten/Dortmund/Intensives-Jubeln-intensives-Leiden-der-BVB-im-Social-Web-17689.html" target="_blank")
          svg.jd-press__logo.jd-press__logo--rn
            use(href="#logo-rn" xlink:href="#logo-rn")
        a.jd-press__item(href="https://www.handelsblatt.com/sport/fussball/digitalisierung-im-fussball-mit-einem-bein-im-show-geschaeft/20019142-all.html?ticket=ST-6016452-WHYa02HeLakYO0DBHcSj-ap3" target="_blank")
          svg.jd-press__logo.jd-press__logo--handelsblatt
            use(href="#logo-handelsblatt" xlink:href="#logo-handelsblatt")
        a.jd-press__item(href="https://sportsmaniac.de/digitale-strategie-des-bvb" target="_blank")
          img.jd-press__logo.jd-press__logo--sports-maniac.jd-press__logo--day(src="images/press/sports-maniac.png" alt="Sports Maniac")
          img.jd-press__logo.jd-press__logo--sports-maniac.jd-press__logo--night(src="images/press/sports-maniac_white.png" alt="Sports Maniac")
        a.jd-press__item(href="https://techcrunch.com/2011/01/02/fancy-yourself-a-dslr-filmmaker-heres-your-change-to-prove-it/" target="_blank")
          svg.jd-press__logo.jd-press__logo--techcrunch
            use(href="#logo-techcrunch" xlink:href="#logo-techcrunch")
    section.jd-section.jd-press#speaker
      h3.jd-heading.jd-heading--section.jd-section__title
        span.jd-section__title-index
          span.jd-section__title-number 03
          span.jd-section__title-line
        span.jd-section__title-text Vorträge
      .jd-press__items
        a.jd-press__item(href="https://re-publica.com/de/session/cinema-out-your-backpack-filmemachen-demokratisiert" target="_blank")
          svg.jd-press__logo.jd-press__logo--republica
            use(href="#logo-republica" xlink:href="#logo-republica")
        a.jd-press__item(href="https://www.campus-symposium.com" target="_blank")
          img.jd-press__logo.jd-press__logo--campus.jd-press__logo--day(src="images/press/campus.png" alt="Campus Symposium")
          img.jd-press__logo.jd-press__logo--campus.jd-press__logo--night(src="images/press/campus_white.png" alt="Campus Symposium")
        a.jd-press__item(href="https://www.youtube.com/watch?v=2LjSveRHcxw" target="_blank")
          svg.jd-press__logo.jd-press__logo--spobis
            use(href="#logo-spobis" xlink:href="#logo-spobis")
        //- a.jd-press__item(href="" target="_blank")
        //-   img.jd-press__logo.jd-press__logo--faz-forum(src="images/press/faz-forum.png" alt="Frankfurter Allgemeine Forum")
        a.jd-press__item(href="https://www.omk2018.de/speaker/david-goerges/" target="_blank")
          img.jd-press__logo.jd-press__logo--omk.jd-press__logo--day(src="images/press/omk.png" alt="OMK")
          img.jd-press__logo.jd-press__logo--omk.jd-press__logo--night(src="images/press/omk_white.png" alt="OMK")
        a.jd-press__item(href="https://www.netandwork.de/speaker" target="_blank")
          img.jd-press__logo.jd-press__logo--netandwork.jd-press__logo--day(src="images/press/netandwork.png" alt="Net&Work")
          img.jd-press__logo.jd-press__logo--netandwork.jd-press__logo--night(src="images/press/netandwork_white.png" alt="Net&Work")
  .jd-block.jd-block--outro
    a.jd-heading.jd-heading--page.jd-heading--inverted(href="/agency")
      span.jd-heading__text Agentur
      span.jd-arrow
