.jd-content {
  padding-left: rem(24);
  padding-right: rem(24);
  // border-left: rem(12) solid white;
  // border-right: rem(12) solid white;

  @include break(tablet) {
    border-left: rem(14) solid white;
    border-right: rem(14) solid white;
  }

  @include break(desktop-s) {
    padding-left: rem(32);
    padding-right: rem(32);
  }

  &__header {
    margin-bottom: rem(160);
    padding-top: rem(240);
    padding-bottom: rem(32);
    border-bottom: 2px solid white;
  }

  &__section {
    padding-bottom: rem(160);

    @include break(tablet) {
      margin-left: percentage(1/4);
      padding-left: rem(28);
      padding-right: rem(28);
    }

    @include break(desktop-s) {
      width: percentage(3/6);
      margin-left: percentage(1/6);
    }
  }
}
