extends ../default.pug

block vars
  - var bodyClass = "jd-theme--day jd-about";

block content
  header.jd-block.jd-block--intro
    h1.jd-heading.jd-heading--page Digital 
      br
      | Craft
    h3.jd-heading.jd-heading--section From strategy to implementation – 
      br
      | we have the tools.
  .jd-block.jd-block--solid.jd-block--color-1
    section.jd-section.jd-craft#strategy
      h3.jd-heading.jd-heading--section.jd-section__title.jd-section__title--followed-by-heading
        span.jd-section__title-index
          span.jd-section__title-number 01
          span.jd-section__title-line
        span.jd-section__title-text Strategy
      .jd-craft__text
        h2.jd-heading.jd-heading--high-level.jd-craft__heading.--color-1 The big picture
        p.jd-paragraph.jd-craft__description
          | In the ever-changing digital world, it is tempting to always follow the latest trends in order to be successful in the short term. We help you keep track of everything and develop sustainable strategies.
      ul.jd-data-list.jd-craft__list
        li.jd-data-list__item Consulting
        li.jd-data-list__item Digital transformation
        li.jd-data-list__item Ideation
        li.jd-data-list__item Content strategy
        li.jd-data-list__item Omnichannel
        li.jd-data-list__item Branding & identity
        li.jd-data-list__item Research & analysis
    section.jd-section.jd-craft#design
      h3.jd-heading.jd-heading--section.jd-section__title.jd-section__title--followed-by-heading
        span.jd-section__title-index
          span.jd-section__title-number 02
          span.jd-section__title-line
        span.jd-section__title-text Design
      .jd-craft__text
        h2.jd-heading.jd-heading--high-level.jd-craft__heading.--color-1 Interactive experiences
        p.jd-paragraph.jd-craft__description
          | The interaction between people and digital products takes place on many different levels at the same time. In the design process, we connect all the dots and create a beautiful and coherent overall experience.
      ul.jd-data-list.jd-craft__list
        li.jd-data-list__item User experience (UX)
        li.jd-data-list__item Visual design
        li.jd-data-list__item Print & Out of Home
        li.jd-data-list__item Design systems
        li.jd-data-list__item Video production
        li.jd-data-list__item Animation/VFX
    section.jd-section.jd-craft#technology
      h3.jd-heading.jd-heading--section.jd-section__title.jd-section__title--followed-by-heading
        span.jd-section__title-index
          span.jd-section__title-number 03
          span.jd-section__title-line
        span.jd-section__title-text Technology
      .jd-craft__text
        h2.jd-heading.jd-heading--high-level.jd-craft__heading.--color-1 Future proof
        p.jd-paragraph.jd-craft__description
          | The quality of the implementation decides whether the claim becomes reality. That is why we apply the same high standards here as in creation and rely on modern, state-of-the-art technologies.
      ul.jd-data-list.jd-craft__list
        li.jd-data-list__item Prototyping
        li.jd-data-list__item Web & mobile apps
        li.jd-data-list__item eCommerce
        li.jd-data-list__item CRM systems
        li.jd-data-list__item Technical consulting
        li.jd-data-list__item Maintenance & support
  .jd-block.jd-block--hollow
    section.jd-section.jd-joda
      .jd-media.jd-joda__photo#joda-photo
        //img.jd-media__item(src="../images/joda/joda.jpg" alt="")
        video.jd-media__item(width="1920" height="1080" autoplay loop muted poster="../../images/joda/joda.jpg")
          source(data-src="../../videos/joda/joda.webm" type="video/webm")
          source(data-src="../../videos/joda/joda.mp4" type="video/mp4")
        span.jd-media__revealer
      h2.jd-heading.jd-heading--high-level.jd-joda__heading David & Joshua
      .jd-joda__text.jd-joda__text--part1
        p.jd-paragraph
          | David Görges and Joshua Beyer have their roots in the Ruhr area. They want to help shape the digital future of the region and at the same time reflect on the values ​​that are lived here.
        p.jd-paragraph
          | Before that, they experienced the digital industry from two very different perspectives: David as Head of Digital at Borussia Dortmund and Joshua as a freelancer with an outside perspective. They are now bringing these experiences together in a joint agency.
        p.jd-paragraph
          | Their paths crossed for the first time in 2011. This resulted in a long-term collaboration in all digital areas. Whether web, app, video or animation—many BVB products were created together. In addition, numerous collaborations with BVB partners such as LichtBlick or Eventim were established, which continue to this day.
      .jd-joda__text.jd-joda__text--part2
        p.jd-paragraph
          | In 2018 the idea of ​​setting up their own agency arose. David and Joshua believe in the beautiful and meaningful in the digital world and see a great opportunity in the liberalization of topics that is taking place on many levels.
        p.jd-paragraph
          | This includes a responsible handling of digitization, as well as a deep understanding of these topics. In doing so, they want to support companies and jointly craft great and sustainable projects.
  .jd-block.jd-block--outro
    a.jd-heading.jd-heading--page.jd-heading--inverted(href="/en/contact")
      span.jd-heading__text Contact
      span.jd-arrow
