.jd-menu {
  justify-self: end;

  &__trigger {
    position: relative;
    z-index: 1;

    @include break(tablet) {
      display: none;
    }
  }

  &__items {

    @include break(tablet, max) {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      position: absolute;
      top: 0;
      right: spacing(3);
      left: spacing(3);
      height: 100vh;
      min-height: 420px;
      padding-bottom: spacing(10);
    }

    @include break(tablet) {
      display: grid;
      grid-column-gap: spacing(2);
      grid-template-columns: auto auto auto;
    }
  }

  &__item {
    position: relative;

    @include break(tablet, max) {
      display: block;
      margin-bottom: spacing(2);
      opacity: 0;
      font-family: "neue-haas-grotesk-display", sans-serif;
      font-size: 12vw;
    }

    @include break(tablet) {
      @include font-scale(s);

      &:after {
        content: "";
        position: absolute;
        right: 100%;
        bottom: spacing(-.3);
        left: 0;
        height: 2px;
        background-color: $grayscale--darkest;

        @include transition($property: right);
      }

      &:hover:after {
        right: 0;
      }
    }
  }
}
