.jd-data-list {

  &__item {
    //font-family: "aktiv-grotesk-extended";
    padding-top: .75em;
    padding-bottom: .75em;
    text-transform: uppercase;

    @include font-scale(xxs);

    &:not(:last-child) {
      border-bottom: 1px solid white;

      // @include break(desktop-s) {
      //   border-width: 2px;
      // }
    }
  }
}
