h1, h2, h3, h4, h5, h6,
.jd-heading:not(.jd-heading--low-level) {
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 600;
}

h1,
.jd-heading--page {
  @include font-scale(xl);
  //
  // letter-spacing: -3em !important;
  // animation: in 3s cubic-bezier(.75,-0.5,0,1.125) forwards;
  // animation-delay: 1s;
}

// @keyframes in {
//   0%{
//     letter-spacing: -3em;
//   }
//   30%{
//     letter-spacing: -.05em;
//   }
//   100%{
//     letter-spacing: -.05em;
//   }
// }

h2,
.jd-heading--high-level {
  margin-bottom: rem(32);

  @include font-scale(l);
}

h3,
.jd-heading--section {
  margin-bottom: rem(16);
  @include font-scale(m);
}

h4,
.jd-heading--low-level {
  @include font-scale(s);
}
