h1, h2, h3,
.jd-heading--page,
.jd-heading--high-level,
.jd-heading--section {
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 600;
}

h1,
.jd-heading--page {
  @include font-scale(xl);
}

h2,
.jd-heading--high-level {
  margin-bottom: .5em;

  @include font-scale(l);
}

h3,
.jd-heading--section {
  margin-bottom: 1em;

  @include font-scale(m);
}

h4,
.jd-heading--low-level {
  font-weight: 700;

  @include font-scale(s);

  .jd-text-block > & {
    padding-top: 1.5em;
  }
}

.jd-heading {

  &--standalone {
    margin-bottom: 0;
  }
}
