.jd-list {
  @include max-width;

  li,
  &__item {
    position: relative;
    //margin-bottom: spacing(.5);
    //padding-left: spacing(2);

    @include font-scale(s);

    &:before {
      position: absolute;
      top: 0;
      right: 100%;
      width: spacing(2);
      padding-right: spacing(1);
      font-weight: 400;
      text-align: right;
    }
  }

  &--numbered {

    .jd-list__item {
      counter-increment: ol-counter;
    }

    .jd-list__item:before {
      content: counter(ol-counter);
    }
  }

  &--bulleted {

    .jd-list__item:before {
      content: "—";
    }
  }
}
