extends ../default.pug

block svg 
  include ../includes/svg/clients.pug
  include ../includes/svg/press.pug

block content
  header.jd-block.jd-block--intro
    h1.jd-heading.jd-heading--page Schöner
      br
      | Zweizeiler
  .jd-block.jd-block--solid.jd-block--color-1
    section.jd-section#projects
      h3.jd-heading.jd-heading--section.jd-section__title.jd-section__title--followed-by-text
        span.jd-section__title-index
          span.jd-section__title-number 01
          span.jd-section__title-line
        span.jd-section__title-text Projekte
      p.jd-paragraph.jd-section__description
        | Der Weg zu einer gemeinsamen Agentur führte über eine Vielzahl digitaler Projekte mit großartigen Menschen und Marken.
      ul.jd-clients
        li.jd-client
          span.jd-client__line-x
          span.jd-client__line-y
          svg.jd-client__logo(width="160" height="160")
            use(href="#logo-eventim" xlink:href="#logo-eventim")
        li.jd-client
          span.jd-client__line-x
          span.jd-client__line-y
          svg.jd-client__logo(width="160" height="160")
            use(href="#logo-bvb" xlink:href="#logo-bvb")
        li.jd-client
          span.jd-client__line-x
          span.jd-client__line-y
          svg.jd-client__logo(width="160" height="160")
            use(href="#logo-montblanc" xlink:href="#logo-montblanc")
        li.jd-client
          span.jd-client__line-x
          span.jd-client__line-y
          svg.jd-client__logo(width="160" height="160")
            use(href="#logo-fc" xlink:href="#logo-fc")
        li.jd-client
          span.jd-client__line-x
          span.jd-client__line-y
          svg.jd-client__logo(width="160" height="160")
            use(href="#logo-dfa" xlink:href="#logo-dfa")
        li.jd-client
          span.jd-client__line-x
          span.jd-client__line-y
          img.jd-client__logo(width="160" height="160" src="../images/clients/tsukuyumi.png" alt="Tsukuyumi – Full Moon Down")
        li.jd-client
          span.jd-client__line-x
          span.jd-client__line-y
          svg.jd-client__logo(width="160" height="160")
            use(href="#logo-rosenthal" xlink:href="#logo-rosenthal")
        li.jd-client
          span.jd-client__line-x
          span.jd-client__line-y
          img.jd-client__logo(width="160" height="160" src="../images/clients/lichtblick.png" alt="Lichtblick")
        li.jd-client
          span.jd-client__line-x
          span.jd-client__line-y
          svg.jd-client__logo(width="160" height="160")
            use(href="#logo-sgf" xlink:href="#logo-sgf")
        li.jd-client
          span.jd-client__line-x
          span.jd-client__line-y
          svg.jd-client__logo(width="160" height="160")
            use(href="#logo-konami" xlink:href="#logo-konami")
        li.jd-client
          span.jd-client__line-x
          span.jd-client__line-y
          img.jd-client__logo(width="160" height="160" src="../images/clients/lagardere.png" alt="Lagardère Sports")
        li.jd-client
          span.jd-client__line-x
          span.jd-client__line-y
          svg.jd-client__logo(width="160" height="160")
            use(href="#logo-hertha" xlink:href="#logo-hertha")
  .jd-block.jd-block--hollow
    section.jd-section.jd-projects
      article.jd-project.jd-project--featured#eventim-shop
        .jd-media.jd-project__thumbnail
          //img.jd-media__item(src="../images/projects/eventim-sports_ticketshop.jpg" alt="")
          video.jd-media__item(width="960" height="540" autoplay loop muted)
            source(data-src="../videos/projects/eventim-sports-ticketshop.webm" type="video/webm")
            source(data-src="../videos/projects/eventim-sports-ticketshop.mp4" type="video/mp4")
          span.jd-media__revealer
        h3.jd-heading.jd-heading--high-level.jd-project__title Eventim Sports Ticketshop
        .jd-project__description
          p.jd-paragraph Design und Frontend-Entwicklung des neuen Shops für den Marktführer im Sport-Ticketing; Frontend-Relaunch der Shops von Borussia Dortmund, 1. FC Köln, Hertha BSC und SG Flensburg-Handewitt.
          .jd-project__links
            span.jd-project__links-text Shop-Links:
            a.jd-project__link.jd-project__link--web(href="https://www.bvb.de/ticketshop" target="_blank") BVB
            a.jd-project__link.jd-project__link--web(href="https://www.eventimsports.de/ols/fckoeln" target="_blank") Köln
            a.jd-project__link.jd-project__link--web(href="http://www.herthatickets.de" target="_blank") Hertha
            a.jd-project__link.jd-project__link--web(href="https://www.eventimsports.de/ols/sgflha" target="_blank") SGF
      article.jd-project.jd-project--standard#tsukuyumi
        .jd-media.jd-project__thumbnail
          img.jd-media__item(src="../images/projects/tsukuyumi.jpg" alt="")
          span.jd-media__revealer
        h3.jd-heading.jd-heading--high-level.jd-project__title Tsukuyumi
        .jd-project__description
          p.jd-paragraph Design und Entwicklung einer multimedialen Website für den Crowdfunding-Erfolg „Tsukuyumi – Full Moon Down“: ein Strategiespiel eingebettet in eine opulente Science-Fiction-Storyworld.
          .jd-project__links
            a.jd-project__link.jd-project__link--web(href="http://www.tsukuyumi.com" target="_blank") Zur Website
      article.jd-project.jd-project--standard#day-in-may
        .jd-media.jd-project__thumbnail
          //img.jd-media__item(src="../images/projects/a-day-in-may.jpg" alt="")
          video.jd-media__item(width="960" height="540" autoplay loop muted)
            source(data-src="../videos/projects/a-day-in-may.webm" type="video/webm")
            source(data-src="../videos/projects/a-day-in-may.mp4" type="video/mp4")
          span.jd-media__revealer
        h3.jd-heading.jd-heading--high-level.jd-project__title Ein Tag im Mai
        .jd-project__description
          p.jd-paragraph 28. Mai 2017. Tausende BVB-Fans tauchen die Straßen von Dortmund in Schwarz und Gelb, als sie mit der Mannschaft den Pokalsieg feiern. Filmische Portraits von Menschen im Freundentaumel.
          .jd-project__links
            a.jd-project__link.jd-project__link--video(href="https://vimeo.com/219945141" target="_blank") Film ansehen
      article.jd-project.jd-project--standard#kidsclub
        .jd-media.jd-project__thumbnail
          //img.jd-media__item(src="../images/projects/bvb-kidsclub.jpg" alt="")
          video.jd-media__item(width="960" height="540" autoplay loop muted)
            source(data-src="../videos/projects/bvb-kidsclub.webm" type="video/webm")
            source(data-src="../videos/projects/bvb-kidsclub.mp4" type="video/mp4")
          span.jd-media__revealer
        h3.jd-heading.jd-heading--high-level.jd-project__title BVB-KidsClub
        .jd-project__description
          p.jd-paragraph Konzept/UX, Design und Entwicklung der neuen KidsClub-Website. Hier finden die kleinen Fans ein digitales Zuhause und lernen an der Seite von Maskottchen Emma spielerisch die BVB-Welt kennen.
          .jd-project__links
            a.jd-project__link.jd-project__link--web(href="https://kidsclub.bvb.de/" target="_blank") Zur Website
      article.jd-project.jd-project--standard#dfa
        .jd-media.jd-project__thumbnail
          //img.jd-media__item(src="../images/projects/24.jpg" alt="")
          video.jd-media__item(width="960" height="540" autoplay loop muted)
            source(data-src="../videos/projects/24.webm" type="video/webm")
            source(data-src="../videos/projects/24.mp4" type="video/mp4")
          span.jd-media__revealer
        h3.jd-heading.jd-heading--high-level.jd-project__title Vierundzwanzig.de
        .jd-project__description
          p.jd-paragraph Das Wissensportal der Deutschen Filmakademie verbindet einen multimedialen Blick hinter die Kulissen der Profis mit einem interaktiven Lehrangebot. Konzeption und User Experience Design.
          .jd-project__links
            a.jd-project__link.jd-project__link--web(href="https://vierundzwanzig.de" target="_blank") Zur Website
      article.jd-project.jd-project--standard#heimat
        .jd-media.jd-project__thumbnail
          //img.jd-media__item(src="../images/projects/40-jahre-heimat.jpg" alt="")
          video.jd-media__item(width="960" height="540" autoplay loop muted poster="../images/projects/40-jahre-heimat.jpg")
            source(data-src="../videos/projects/40-jahre-heimat.webm" type="video/webm")
            source(data-src="../videos/projects/40-jahre-heimat.mp4" type="video/mp4")
          span.jd-media__revealer
        h3.jd-heading.jd-heading--high-level.jd-project__title 40 Jahre Heimat
        .jd-project__description
          p.jd-paragraph Die Entstehung eines Stadions und seine bewegte Geschichte als filmisches Erlebnis – 3D-Animation einer Serie historischer Fotos zum 40. Jubiläum des Signal Iduna Parks, Heimat von Borussia Dortmund.
          .jd-project__links
            a.jd-project__link.jd-project__link--video(href="https://www.youtube.com/watch?v=NNbXcve0o8g" target="_blank") Film ansehen
  .jd-block.jd-block--solid.jd-block--color-1
    section.jd-section.jd-press#press
      h3.jd-heading.jd-heading--section.jd-section__title
        span.jd-section__title-index
          span.jd-section__title-number 02
          span.jd-section__title-line
        span.jd-section__title-text Presse
      .jd-press__items
        a.jd-press__item(href="")
          svg.jd-press__logo.jd-press__logo--sz
            use(href="#logo-sz" xlink:href="#logo-sz")
        a.jd-press__item(href="")
          svg.jd-press__logo.jd-press__logo--wired
            use(href="#logo-wired" xlink:href="#logo-wired")
        a.jd-press__item(href="")
          svg.jd-press__logo.jd-press__logo--sponsors
            use(href="#logo-sponsors" xlink:href="#logo-sponsors")
        a.jd-press__item(href="")
          svg.jd-press__logo.jd-press__logo--faz
            use(href="#logo-faz" xlink:href="#logo-faz")
        a.jd-press__item(href="")
          svg.jd-press__logo.jd-press__logo--11freunde
            use(href="#logo-11freunde" xlink:href="#logo-11freunde")
        a.jd-press__item(href="")
          svg.jd-press__logo.jd-press__logo--rn
            use(href="#logo-rn" xlink:href="#logo-rn")
        a.jd-press__item(href="")
          svg.jd-press__logo.jd-press__logo--handelsblatt
            use(href="#logo-handelsblatt" xlink:href="#logo-handelsblatt")
        a.jd-press__item(href="")
          svg.jd-press__logo.jd-press__logo--techcrunch
            use(href="#logo-techcrunch" xlink:href="#logo-techcrunch")
    section.jd-section.jd-press#speaker
      h3.jd-heading.jd-heading--section.jd-section__title
        span.jd-section__title-index
          span.jd-section__title-number 03
          span.jd-section__title-line
        span.jd-section__title-text Vorträge
      .jd-press__items
        a.jd-press__item(href="")
          svg.jd-press__logo.jd-press__logo--republica
            use(href="#logo-republica" xlink:href="#logo-republica")
        a.jd-press__item(href="")
          img.jd-press__logo.jd-press__logo--campus(src="../images/press/campus.png" alt="Campus Symposium")
        a.jd-press__item(href="")
          img.jd-press__logo.jd-press__logo--faz-forum(src="../images/press/faz-forum.png" alt="Frankfurter Allgemeine Forum")
        a.jd-press__item(href="")
          img.jd-press__logo.jd-press__logo--omk(src="../images/press/omk.png" alt="OMK")
        a.jd-press__item(href="")
          img.jd-press__logo.jd-press__logo--netandwork(src="../images/press/netandwork.png" alt="Net&Work")
