// FONT STACKS
// ----------------------------------------------------------------------------

// Fallback fonts
$font__fallback--sans: sans-serif;
$font__fallback--serif: ("Georgia", "Garamond", "Baskerville", serif);
$font__fallback--monospace: ("Courier New", "Lucida Sans Typewriter", "Lucida Console", monospace);

// Helper variables for all font types
$font__types: (
  "thin":              ("weight": 100, "style": normal),
  "thin-italic":       ("weight": 100, "style": italic),
  "extralight":        ("weight": 200, "style": normal),
  "extralight-italic": ("weight": 200, "style": italic),
  "light":             ("weight": 300, "style": normal),
  "light-italic":      ("weight": 300, "style": italic),
  "regular":           ("weight": 400, "style": normal),
  "regular-italic":    ("weight": 400, "style": italic),
  "medium":            ("weight": 500, "style": normal),
  "medium-italic":     ("weight": 500, "style": italic),
  "semibold":          ("weight": 600, "style": normal),
  "semibold-italic":   ("weight": 600, "style": italic),
  "bold":              ("weight": 700, "style": normal),
  "bold-italic":       ("weight": 700, "style": italic),
  "extrabold":         ("weight": 800, "style": normal),
  "extrabold-italic":  ("weight": 800, "style": italic),
  "black":             ("weight": 900, "style": normal),
  "black-italic":      ("weight": 900, "style": italic)
);

// // Primary font stack
// $font--primary: (
//   "family": "TTCommons", // IMPORTANT: No spaces if font-face
//   "fallback": ($font__fallback--sans),
//   "types": (
//     "light",
//     "light-italic",
//     "regular",
//     "regular-italic",
//     "medium",
//     "medium-italic",
//     "semibold",
//     "semibold-italic",
//     "bold",
//     "bold-italic"
//   ) // Only required for font-face
// );

// // Code font stack
// $font--display: (
//   "family": "GTSuper", // IMPORTANT: No spaces if font-face
//   "fallback": ($font__fallback--serif)
// );

// Generate font-face for primary font stack

// Import Google or Typekit fonts here
@import url("https://use.typekit.net/ukk2uqe.css");

// Use fonts anywhere
@function font($font) {
  @return map-get($font, "family"), map-get($font, "fallback");
}

$font-size--l: 4vw;
$font-size--xl: 12vw;

// FONT SCALE
// ----------------------------------------------------------------------------

$font-scale: (
  "xxs": ("phone": calc(#{rem(10)} + .25vw), "lh-phone": 1.5, "ls-phone": ".1em",
          "tablet": calc(#{rem(10)} + .25vw), "lh-tablet": 1.5, "ls-tablet": ".1em",
          "desktop": calc(#{rem(10)} + .25vw), "lh-desktop": 1.5, "ls-desktop": ".1em"
         ),
  "xs":  ("phone": calc(#{rem(12)} + .375vw), "lh-phone": 1.5, "ls-phone": "normal",
          "tablet": calc(#{rem(12)} + .375vw), "lh-tablet": 1.5, "ls-tablet": "normal",
          "desktop": calc(#{rem(12)} + .375vw), "lh-desktop": 1.5, "ls-desktop": "normal"
         ),
  "s":   ("phone": calc(#{rem(14)} + .375vw), "lh-phone": 1.5, "ls-phone": "normal",
          "tablet": calc(#{rem(14)} + .375vw), "lh-tablet": 1.5, "ls-tablet": "normal",
          "desktop": calc(#{rem(14)} + .375vw), "lh-desktop": 1.5, "ls-desktop": "normal"
         ),
  "m":   ("phone": calc(#{rem(16)} + 1.625vw), "lh-phone": 1.2, "ls-phone": "-.00625em",
          "tablet": calc(#{rem(19)} + 1.625vw), "lh-tablet": 1.1, "ls-tablet": "-.0075em",
          "desktop": 2.478188vw, "lh-desktop": 1, "ls-desktop": "-.01em",
         ),
  "l":   ("phone": calc(#{rem(19)} + 3.25vw), "lh-phone": 1.2, "ls-phone": "-.01em",
          "tablet": calc(#{rem(24)} + 3.25vw), "lh-tablet": 1.1, "ls-tablet": "-.01em",
          "desktop": $font-size--l, "lh-desktop": 1, "ls-desktop": "-.01em",
         ),
  "xl":  ("phone": calc(#{rem(36)} + 9vw), "lh-phone": .9, "ls-phone": "-.015em",
          "tablet": calc(#{rem(36)} + 9vw), "lh-tablet": .9, "ls-tablet": "-.015em",
          "desktop": $font-size--xl, "lh-desktop": .9, "ls-desktop": "-.015em",
         )
);

@mixin font-scale($key) {
  @if map-has-key($font-scale, $key) {
    font-size: #{inspect(map-get-deep($font-scale, $key, "phone"))};
    line-height: #{inspect(map-get-deep($font-scale, $key, "lh-phone"))};
    letter-spacing: #{inspect(map-get-deep($font-scale, $key, "ls-phone"))};

    @include break(tablet) {
      font-size: #{inspect(map-get-deep($font-scale, $key, "tablet"))};
      line-height: #{inspect(map-get-deep($font-scale, $key, "lh-tablet"))};
      letter-spacing: #{inspect(map-get-deep($font-scale, $key, "ls-tablet"))};
    }

    @include break(desktop-s) {
      font-size: #{inspect(map-get-deep($font-scale, $key, "desktop"))};
      line-height: #{inspect(map-get-deep($font-scale, $key, "lh-desktop"))};
      letter-spacing: #{inspect(map-get-deep($font-scale, $key, "ls-desktop"))};
    }
  } @else {
    @error "No value found for `#{$key}` in `$font-scale` map.";
  }
}

// BASE TYPOGRAPHY STYLES
// ----------------------------------------------------------------------------

html {
  font-size: $rem-base / 16 * 100%;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-weight: normal;
  color: $grayscale--darkest;
}
