// BREAKPOINTS
// ----------------------------------------------------------------------------

$breakpoints: (
  "phablet":        480px,
  "tablet":         600px,
  "desktop-s":      1024px,
  "desktop-m":      1280px,
  "desktop-l":      1600px,
  "desktop-xl":     1921px
);

@mixin break($breakpoint, $max: false) {

  @if map-has-key($breakpoints, $breakpoint) {

    $minmax: "min-width";
    $value: inspect(map-get($breakpoints, $breakpoint));

    @if $max {
      $minmax: "max-width";
      $value: inspect(map-get($breakpoints, $breakpoint)) - 1px;
    }

    @media (#{$minmax}: #{$value}) {
      @content;
    }
  } @else {
    @error "No value found for `#{$breakpoint}` in `$breakpoints` map.";
  }
}

@mixin show($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @include break($breakpoint) {
      display: block;
    }
  } @else {
    @error "No value found for `#{$breakpoint}` in `$breakpoints` map.";
  }
}

@mixin hide($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @include break($breakpoint) {
      display: none;
    }
  } @else {
    @error "No value found for `#{$breakpoint}` in `$breakpoints` map.";
  }
}

@mixin ie11() {
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    @content;
  }
}

@mixin webkitTouch() {
  @supports (-webkit-text-size-adjust:none) and (not (-ms-ime-align:auto)) and (not (-moz-appearance:none)) {
    @include break(mobile-only) {
      @content;
    };
  }
}
