$spacing-unit: "(#{rem(8)} + .5vw)";

@function spacing($value) {
  @return calc(#{$spacing-unit} * #{$value});
}

$grid-container: rem(1600);
$grid-gutter: rem(32);
$grid-unit: ($grid-container - $grid-gutter) / 12 - $grid-gutter;

@function grid-units($value) {
  @return $grid-unit * $value + $grid-gutter * ($value - 1);
}
