extends ../default.pug

block vars
  - var bodyClass = "jd-theme--day jd-jobs";

block content
  header.jd-block.jd-block--intro
    h1.jd-heading.jd-heading--page Bist du dabei?
    h3.jd-heading.jd-heading--section Wir suchen Verstärkung.
      br
      | Werde Teil unseres Teams. 
  .jd-block.jd-block--hollow#office
    .jd-office.jd-media__item
      .jd-office__media.jd-office__media--1
        img.jd-office__image.jd-office__image--mobile(src="../images/office/office1_mobile.jpg")
        img.jd-office__image.jd-office__image--desktop(src="../images/office/office1_desktop.jpg")
      .jd-office__media.jd-office__media--2
        img.jd-office__image.jd-office__image--mobile(src="../images/office/office2_mobile.jpg")
        img.jd-office__image.jd-office__image--desktop(src="../images/office/office2_desktop.jpg")
      .jd-office__media.jd-office__media--3
        img.jd-office__image(src="../images/office/office3.jpg")
      .jd-office__media.jd-office__media--4
        img.jd-office__image(src="../images/office/office4.jpg")
      span.jd-media__revealer
  .jd-block.jd-block--hollow
    section.jd-section.jd-employer
      .jd-employer__description
        h3.jd-heading.jd-heading--section Bei uns hast du die Chance, renommierte Marken und Unternehmen aus verschiedenen Branchen nachhaltig zu entwickeln – von Fußballklubs über Banken und Industrie-Unternehmen bis hin zu innovativen Startups.
  .jd-block.jd-block--solid.jd-block--color-1
    section.jd-section.jd-job#developer
      h2.jd-heading.jd-heading--high-level.jd-job__heading.--color-1 Entwickler*in 
        br 
        | (m/w/d)
      h3.jd-heading.jd-heading--section.jd-section__title.jd-section__title--followed-by-heading.jd-job__subheading
        span.jd-section__title-index
          span.jd-section__title-number 01
          span.jd-section__title-line
        span.jd-section__title-text Deine Aufgaben
      .jd-job__description
        ul.jd-list.jd-list--bulleted.jd-paragraph
          li.jd-list__item Entwicklung modularer, skalierbarer Web- und Mobile-Apps
          li.jd-list__item Frontend-Realisierung von UI-Designs
          li.jd-list__item technisches Projektmanagement
          li.jd-list__item technische Beratung von Kunden
      h3.jd-heading.jd-heading--section.jd-section__title.jd-section__title--followed-by-heading.jd-job__subheading
        span.jd-section__title-index
          span.jd-section__title-number 02
          span.jd-section__title-line
        span.jd-section__title-text Deine Skills
      .jd-job__description
        ul.jd-list.jd-list--bulleted.jd-paragraph
          li.jd-list__item gute bis exzellente Kenntnisse in modernen Web- und App-Technologien – idealerweise: JavaScript (inkl. Frameworks wie React, Vue.js oder Angular), PHP, Datenbanken, Swift, Java, HTML, CSS
          li.jd-list__item Erfahrung mit gängigen CMS wie WordPress, Typo3, eCommerce-Systeme etc.
          li.jd-list__item Offenheit für neue technologische Entwicklungen
          li.jd-list__item konzeptionelles Denken
          li.jd-list__item Qualitätsbewusstsein und strukturierte Arbeitsweise
      .jd-job__description
        h3.jd-heading.jd-heading--section Lebenslauf und Arbeitsproben
          br 
          a(href="mailto:jobs@beyergoerges.com") ➝ jobs@beyergoerges.com
    section.jd-section.jd-job#junior-designer
      h2.jd-heading.jd-heading--high-level.jd-job__heading.--color-1 Junior 
        br
        | Designer*in 
        br
        | (m/w/d)
      h3.jd-heading.jd-heading--section.jd-section__title.jd-section__title--followed-by-heading.jd-job__subheading
        span.jd-section__title-index
          span.jd-section__title-number 01
          span.jd-section__title-line
        span.jd-section__title-text Deine Aufgaben
      .jd-job__description
        ul.jd-list.jd-list--bulleted.jd-paragraph
          li.jd-list__item Entwicklung kreativer und anwendbarer Design-Konzepte
          li.jd-list__item UX & UI Design, Print Design, Grafik, Illustration, Motion Design, Animation
          li.jd-list__item regelmäßiger Austausch mit Kunden und Partnern
      h3.jd-heading.jd-heading--section.jd-section__title.jd-section__title--followed-by-heading.jd-job__subheading
        span.jd-section__title-index
          span.jd-section__title-number 02
          span.jd-section__title-line
        span.jd-section__title-text Deine Skills
      .jd-job__description
        ul.jd-list.jd-list--bulleted.jd-paragraph
          li.jd-list__item gute Design-Fähigkeiten und erste Erfahrungen mit eigenen oder professionellen Projekten
          li.jd-list__item Erfahrung mit gängigen Design-Tools (Figma, Photoshop, Illustrator, InDesign etc.)
          li.jd-list__item Lernbereitschaft und Offenheit für neue Entwicklungen und Tools
          li.jd-list__item konzeptionelles Denken
          li.jd-list__item Qualitätsbewusstsein und strukturierte Arbeitsweise
      .jd-job__description
        h3.jd-heading.jd-heading--section Lebenslauf und Arbeitsproben
          br 
          a(href="mailto:jobs@beyergoerges.com") ➝ jobs@beyergoerges.com
    section.jd-section.jd-job#initiativ
      h2.jd-heading.jd-heading--high-level.jd-job__heading.--color-1 Initiativ- 
        br
        | Bewerbung 
      .jd-job__description
        p.jd-paragraph Du möchtest Teil unseres Teams werden und entweder projektweise als Freelancer*in oder langfristig in Vollzeit gemeinsam spannende Projekte realisieren? Wir freuen uns auf deine Intitiativbewerbung!
      .jd-job__description
        h3.jd-heading.jd-heading--section Lebenslauf und Arbeitsproben
          br 
          a(href="mailto:jobs@beyergoerges.com") ➝ jobs@beyergoerges.com
  .jd-block.jd-block--outro
    a.jd-heading.jd-heading--page.jd-heading--inverted(href="/contact")
      span.jd-heading__text Kontakt
      span.jd-arrow
