extends ../default.pug

block content
  header.jd-block.jd-block--intro
    h1.jd-heading.jd-heading--page Digitales Handwerk
  .jd-block.jd-block--solid.jd-block--color-1
    section.jd-section.jd-craft#strategy
      h3.jd-heading.jd-heading--section.jd-section__title.jd-section__title--followed-by-heading
        span.jd-section__title-index
          span.jd-section__title-number 01
          span.jd-section__title-line
        span.jd-section__title-text Strategie
      h2.jd-heading.jd-heading--high-level.jd-craft__heading.--color-1 Wir haben das große Ganze im Blick
      p.jd-paragraph.jd-craft__description
        | Wir wollen unsere Kunden verstehen. Für welche Werte stehen sie? Was treibt sie an? Wo wollen sie hin? Auf dieser Basis entwickeln wir eine gemeinsame Strategie, die den weiteren Weg ebnet – inhaltlich, gestalterisch und technisch.
      ul.jd-data-list.jd-craft__list
        li.jd-data-list__item Beratung
        li.jd-data-list__item Digitale Transformation
        li.jd-data-list__item Konzeption
        li.jd-data-list__item Content-Strategie
        li.jd-data-list__item Branding & Identität
        li.jd-data-list__item Recherche & Analyse
    section.jd-section.jd-craft#design
      h3.jd-heading.jd-heading--section.jd-section__title.jd-section__title--followed-by-heading
        span.jd-section__title-index
          span.jd-section__title-number 02
          span.jd-section__title-line
        span.jd-section__title-text Design
      h2.jd-heading.jd-heading--high-level.jd-craft__heading.--color-1 Wir gestalten digitale Erlebnisse
      p.jd-paragraph.jd-craft__description
        | Die Interaktion zwischen Menschen und digitalen Produkten findet auf vielen verschiedenen Ebenen gleichzeitig statt. Im Design-Prozess setzen wir diese zu einem schönen und schlüssigen Gesamterlebnis zusammen.
      ul.jd-data-list.jd-craft__list
        li.jd-data-list__item User Experience (UX)
        li.jd-data-list__item Visuelles Design
        li.jd-data-list__item Design-Systeme
        li.jd-data-list__item Videoproduktion
        li.jd-data-list__item Animation/VFX
    section.jd-section.jd-craft#technology
      h3.jd-heading.jd-heading--section.jd-section__title.jd-section__title--followed-by-heading
        span.jd-section__title-index
          span.jd-section__title-number 03
          span.jd-section__title-line
        span.jd-section__title-text Technologie
      h2.jd-heading.jd-heading--high-level.jd-craft__heading.--color-1 Wir entwickeln für die Zukunft
      p.jd-paragraph.jd-craft__description
        | Im Zuge des rasanten technischen Fortschritts überprüfen wir ständig unsere eigenen Methoden und bleiben neuen Technologien und Plattformen gegenüber offen und neugierig. So gelingen nachhaltig tragfähige Ergebnisse.
      ul.jd-data-list.jd-craft__list
        li.jd-data-list__item Prototyping
        li.jd-data-list__item Web & Mobile Apps
        li.jd-data-list__item eCommerce
        li.jd-data-list__item CRM-Systeme
        li.jd-data-list__item Technische Beratung
        li.jd-data-list__item Pflege & Support
  .jd-block.jd-block--hollow
    section.jd-section.jd-joda
      .jd-media.jd-joda__photo#joda-photo
        //img.jd-media__item(src="../images/joda/joda.jpg" alt="")
        video.jd-media__item(width="1920" height="1080" autoplay loop muted)
          source(data-src="../videos/joda/joda.webm" type="video/webm")
          source(data-src="../videos/joda/joda.mp4" type="video/mp4")
        span.jd-media__revealer
      h2.jd-heading.jd-heading--high-level.jd-joda__heading David & Joshua
      .jd-joda__text.jd-joda__text--part1
        p.jd-paragraph
          | David Görges und Joshua Beyer haben ihre Wurzeln im Ruhrgebiet. Sie wollen die digitale Zukunft der Region mitgestalten und sich dabei auf die hier gelebten Werte besinnen.
        p.jd-paragraph
          | Zuvor erlebten sie Digital-Branche aus zwei sehr unterschiedlichen Perspektiven: David als Digital-Chef beim BVB auf der Unternehmensseite und Joshua als Freelancer mit dem Blick von außen. Diese Erfahrungen bringen sie nun in einer gemeinsamen Agentur zusammen.
        p.jd-paragraph
          | Ihre Wege kreuzten sich erstmals 2011, als David nach der Meisterschaft von Borussia Dortmund ein Video von Joshua gesehen hat, das die Geschichte der Freude in der Stadt noch einmal ganz anders erzählte. Es entstand eine langjährige Zusammenarbeit in allen digitalen Bereichen.
      .jd-joda__text.jd-joda__text--part2
        p.jd-paragraph
          | Ob Web, App, Video oder Animation – viele BVB-Produkte wurden gemeinsam erstellt. Darüber hinaus entstanden zahlreiche Kooperationen mit BVB-Partnern wie LichtBlick oder Eventim, die bis heute fortbestehen.
        p.jd-paragraph
          | Im Jahr 2018 erwuchs die Idee einer eigenen Agentur. David und Joshua glauben an das Schöne und Sinnstiftende im Digitalen und sehen in der auf vielen Ebenen stattfindenden Liberalisierung von Themen eine große Chance.
        p.jd-paragraph
          | Dazu gehört ein verantwortungsvoller Umgang mit der Digitalisierung, sowie ein tiefes Verständnis für diese Themen. Hierbei wollen sie Unternehmen unterstützen und gemeinsam nachhaltige und großartige Projekte realisieren.
