.jd-clients {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column: 1 / -1;
  padding-right: spacing(2.5);
  padding-left: spacing(2.5);
}

.jd-client {
  position: relative;

  &:nth-child(n+2):nth-child(-n+6),
  &:nth-child(n+8):nth-child(-n+12) {
    border-left: 2px solid white;
  }

  &:nth-child(n+1):nth-child(-n+6) {
    border-bottom: 2px solid white;
  }

  &:before {
    content: "";
    display: inline-block;
    position: relative;
    width: 1px;
    height: 0;
    padding-top: 100%;
  }

  &__logo {
    display: grid;
    justify-items: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}
