.jd-contact {
  margin-bottom: spacing(8);

  &__heading {
    grid-column: 2 / 6;
    grid-row: 2;
    white-space: nowrap;

    @include break(tablet) {
      grid-column: 3 / 6;
    }

    @include break(desktop-s) {
      grid-column: 4 / 9;
    }
  }
}
