.jd-craft {
  margin-bottom: spacing(8);

  &__heading,
  &__description {
    grid-column: 2 / 6;
    opacity: 0;

    @include break(tablet) {
      grid-column: 3 / 6;
    }

    @include break(desktop-s) {
      grid-column: 4 / 9;
    }

    @include break(desktop-m) {
      grid-column: 4 / 8;
    }
  }

  &__description {

    @include break(desktop-s, max) {
      margin-bottom: spacing(3);
    }
  }

  &__list {
    grid-column: 2 / 6;
    grid-row: 4;

    @include break(tablet) {
      grid-column: 3 / 6;
    }

    @include break(desktop-s) {
      grid-column: 11 / 14;
      grid-row: 2 / 4;
    }

    .jd-data-list__item {
      opacity: 0;
    }
  }
}
