.jd-employer {
  padding-bottom: spacing(8);

  &__description {
    grid-column: 2 / 6;

    @include break(desktop-s) {
      grid-column: 2 / 10;
    }

    // @include break(desktop-m) {
    //   grid-column: 8 / 13;
    // }

    .jd-heading--high-level {
      margin-bottom: 0;
      opacity: 0;
    }

    .jd-paragraph {
      opacity: 0;
    }
  }
}
