.jd-legal-notice {
  display: none;
  
  &.--is-open {
    display: grid;
  }

  &__company {
    grid-column: 2 / 6;

    @include break(tablet) {
      grid-column: 3 / 6;
    }

    @include break(desktop-s) {
      grid-column: 4 / 7;
    }
  }

  &__text {
    grid-column: 2 / 6;

    @include break(tablet) {
      grid-column: 3 / 6;
    }

    @include break(desktop-s) {
      grid-column: 8 / 13;
    }
  }
}
