@mixin press-logo($name, $width, $height) {
  &--#{$name} {
    width: $width * 1px * .7;
    height: $height * 1px * .7;

    @include break(tablet) {
      width: $width * 1px * .8;
      height: $height * 1px * .8;
    }

    @include break(desktop-s) {
      width: $width * 1px * .9;
      height: $height * 1px * .9;
    }

    @include break(desktop-xl) {
      width: $width * .05vw;
      height: $height * .05vw;
    }
  }
}

.jd-press {
  margin-bottom: spacing(8);

  &__items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    grid-column: 2 / 6;
    margin: spacing(-1.5);

    @include break(desktop-s) {
      grid-column: 2 / 14;
    }

    // &:after {
    //   content: "";
    //   flex: auto;
    // }
  }

  &__item {
    padding: spacing(1.5);
    opacity: 0;
    transform: scale(.8);

    &:hover .jd-press__logo {
      opacity: .8;
    }
  }

  &__logo {
    opacity: .4;
    color: black;

    @include transition($property: opacity);

    @include press-logo(sz, 208.3, 24);
    @include press-logo(wired, 136.93, 28);
    @include press-logo(sponsors, 138.97, 20);
    @include press-logo(faz, 189.18, 26);
    @include press-logo(11freunde, 128, 32);
    @include press-logo(rn, 160.89, 18);
    @include press-logo(handelsblatt, 140.87, 20);
    @include press-logo(techcrunch, 64, 32);
    @include press-logo(sports-maniac, 124, 47);
    @include press-logo(republica, 128, 28.31);
    @include press-logo(spobis, 128, 29.8);
    @include press-logo(faz-forum, 242, 39.5);
    @include press-logo(campus, 96, 67);
    @include press-logo(omk, 72, 28.5);
    @include press-logo(netandwork, 131, 32);
    @include press-logo(spielmacher, 134, 45.1);
  }
}
