.jd-privacy {
  display: none;

  &.--is-open {
    display: grid;
  }

  &__content {
    grid-column: 2 / 6;

    @include break(tablet) {
      grid-column: 3 / 6;
    }

    @include break(desktop-s) {
      grid-column: 4 / 11;
    }

    @include break(desktop-m) {
      grid-column: 4 / 10;
    }
  }

  &__part1 {
    grid-column: 2 / 6;

    @include break(tablet) {
      grid-column: 3 / 6;
    }

    @include break(desktop-s) {
      grid-column: 4 / 9;
    }

    @include break(desktop-m) {
      grid-column: 4 / 8;
    }
  }

  &__part2 {
    grid-column: 2 / 6;

    @include break(tablet) {
      grid-column: 3 / 6;
    }

    @include break(desktop-s) {
      grid-column: 9 / 14;
    }

    @include break(desktop-m) {
      grid-column: 9 / 13;
    }
  }
}
