.jd-project {
  display: grid;
  grid-column-gap: spacing(1);
  grid-template-columns: spacing(2) repeat(4, 1fr) spacing(2);
  align-content: start;
  grid-column: 1 / -1;
  margin-bottom: spacing(4);

  &--featured {

    @include break(desktop-s) {
      grid-template-columns: spacing(2) repeat(12, 1fr) spacing(2);
    }
  }

  &--standard {

    @include break(desktop-s) {
      grid-column: span 7;

      &:nth-child(even) {
        grid-template-columns: repeat(6, 1fr) spacing(2);
      }

      &:nth-child(odd) {
        grid-template-columns: spacing(2) repeat(6, 1fr);
      }
    }
  }

  &__thumbnail {
    grid-column: 1 / -1;
    margin-bottom: spacing(2);
  }

  &__title,
  &__description {
    grid-column: 2 / 6;
    opacity: 0;

    @include break(tablet) {
      grid-column: 2 / 5;
    }

    @include break(desktop-s) {
      grid-column: 2 / 7;
    }

    @include break(desktop-m) {
      grid-column: 2 / 6;
    }

    .jd-project--standard:nth-child(even) & {

      @include break(desktop-s) {
        grid-column: 1 / 6;
      }

      @include break(desktop-m) {
        grid-column: 1 / 5;
      }
    }

    .jd-project--standard:nth-child(even) & {

      @include break(desktop-s) {
        grid-column: 1 / 6;
      }

      @include break(desktop-m) {
        grid-column: 1 / 5;
      }
    }
  }

  &__title {
    //margin-bottom: spacing(2);
  }

  &__description {

    .jd-paragraph {
      margin-bottom: spacing(1);
    }

    .jd-project--featured & {

      @include break(desktop-s) {
        grid-column: 8 / 13;
      }

      @include break(desktop-m) {
        grid-column: 8 / 12;
      }
    }
  }

  &__links {
    //font-family: "aktiv-grotesk-extended";
    text-transform: uppercase;

    @include font-scale(xxs);
  }

  &__links-text {
    display: inline-block;
    margin-right: spacing(1);

    &--break {
      display: block;

      @include break(tablet) {
        display: inline-block;
      }
    }
  }

  &__link {
    display: inline-block;
    position: relative;
    padding-left: 20px;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 12px;
    line-height: 2;
    font-weight: 700;

    @include break(desktop-s) {
      padding-left: 22px;
      background-size: 14px;
    }

    @include break(desktop-m) {
      padding-left: 24px;
      background-size: 16px;
    }

    + .jd-project__link {
      margin-left: spacing(1);
    }

    &:after {
      content: "";
      position: absolute;
      right: 100%;
      bottom: spacing(-.15);
      left: 0;
      height: 2px;
      background-color: $grayscale--darkest;

      @include transition($property: right);
    }

    &:hover:after {
      right: 0;
    }

    &--web {
      background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' width='16' height='16' xmlns='http://www.w3.org/2000/svg'><g fill='currentColor'><path d='M9,7H1C0.4,7,0,7.4,0,8v0c0,0.6,0.4,1,1,1h8v5l7-6L9,2V7z'></path></g></svg>");
    }

    &--video {
      background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' width='16' height='16' xmlns='http://www.w3.org/2000/svg'><g fill='currentColor'><path d='M15,1H1C0.4,1,0,1.4,0,2v12c0,0.6,0.4,1,1,1h14c0.6,0,1-0.4,1-1V2C16,1.4,15.6,1,15,1z M14,13H2V3h12V13z'></path><polygon points='6,5 6,11 10,8'></polygon></g></svg>");
    }
  }
}
