footer#jd-footer.jd-footer
  .jd-footer__items.jd-footer__items--start
    span.jd-footer__item ©
      script.
       let jd_footerYear = new Date().getFullYear();
       document.write(" " + jd_footerYear + " ");
      span Beyer Görges GmbH
    a.jd-footer__item.jd-footer__link.jd-footer__link--email(href="mailto:ping@beyergoerges.com") ping@beyergoerges.com
  nav.jd-footer__items.jd-footer__items--end
    a.jd-footer__item.jd-footer__link.jd-footer__link--legal-notice(href="") Legal Notice
    a.jd-footer__item.jd-footer__link.jd-footer__link--privacy(href="") Privacy
    a.jd-footer__item.jd-footer__link.jd-footer__link--language(href="/") DE
