.jd-media {
  position: relative;
  overflow: hidden;

  &__item {
    opacity: 0;
  }

  &__revealer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -200%;
    width: 200%;
    background-color: #2E2C34;
  }
}
